<?xml version="1.0" encoding="UTF-8"?>
<module>
	<name>
		PayPal
	</name>
	<settings>
		<variable>business</variable>
		<name>{$lang->merchant_email}</name>
	</settings>
	<settings>
		<variable>mode</variable>
		<name>{$lang->mode}</name>
		<options> 
			<name>{$lang->real_payments}</name>
			<value>real</value>
		</options>
		<options>
			<name>{$lang->sandbox_mode}</name>
			<value>sandbox</value>
		</options>
	</settings>
</module>