/* Colors filter */

.color-filter .btn {
	border: 1px solid rgba(0, 0, 0, 0.125);
}

.btn span.fa-check {
	opacity: 0;
}

.btn.active span.fa-check {
	opacity: 1;
	color: #fff;
}

.btn.white {
	border: 1px solid rgba(0, 0, 0, 0.125);
}

.btn.white.active span.fa-check {
	opacity: 1;
	color: #000;
}

[data-toggle="buttons"]>.btn>input[type="radio"],
[data-toggle="buttons"]>.btn>input[type="checkbox"] {
	opacity: 0;
	position: absolute;
	z-index: -1;
}

/* Title sidebar filter */

.icon-action {
	float: right;
	font-size: 80%;
	margin-top: 5px;
}

.card-filter .card-header a:hover {
	text-decoration: none;
}