/***** #Owl-carousel **************************************************************/

.owl-carousel {
    display: none;
    width: 100%;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    z-index: 1;
}

.owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
    touch-action: manipulation;
    -moz-backface-visibility: hidden;
}

.owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
}

.owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

.owl-carousel .owl-item img {
    display: block;
    width: 100%;
}

.owl-carousel .owl-nav {
    display: block;
    position: absolute;
    top: calc(50% - 30px);
    width: 100%;
    -webkit-tap-highlight-color: transparent;
    color: #fff;
}

.fn_comparison_products.owl-carousel .owl-nav {
    top: 100px;
}

.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
    display: none;
}

.owl-carouse.owl-nav .disabled {
    opacity: 0.5;
    cursor: default;
}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next {
    width: 30px;
    height: 60px;
    padding: 0;
    font-size: 36px;
    line-height: 1;
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: none;
    outline: none;
    left: inherit;
    background: rgba(0, 0, 0, .5);
    text-align: center;
    color: #eee;
    transition: all .2s ease-in-out 0s;
    margin: 0;
    position: absolute;
}

.owl-carousel .owl-nav .owl-prev span,
.owl-carousel .owl-nav .owl-next span {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: inherit;
    position: relative;
    top: -7px;
    font-size: 54px;
}

.owl-carousel .owl-nav .owl-prev.disabled,
.owl-carousel .owl-nav .owl-next.disabled {
    opacity: 0.6;
}

.owl-carousel .owl-nav .owl-prev:not(.disabled):hover,
.owl-carousel .owl-nav .owl-next:not(.disabled):hover {
    background: #222;
    color: #FFF;
    text-decoration: none;
}

.owl-carousel .owl-nav .owl-prev {
    left: 0;
    border-radius: 0 2px 2px 0;
}

.owl-carousel .owl-nav .owl-next {
    right: 0;
    border-radius: 2px 0 0 2px;
}

.owl-carousel .owl-dot {
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.owl-carousel button.owl-dot {
    background: none;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit;
}

.owl-carousel .owl-nav.disabled+.owl-dots {
    margin-top: 30px;
    line-height: 1;
    margin-bottom: 5px;
}

.owl-carousel .owl-dots {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}

.owl-carousel .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    *display: inline;
}

.owl-carousel .owl-dots .owl-dot span {
    width: 35px;
    height: 5px;
    margin: 4px 4px;
    background: #dbdbdb;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity 200ms ease;
    border-radius: 2px;
}

.owl-carousel .owl-dots .owl-dot.active span,
.owl-carousel .owl-dots .owl-dot:hover span {
    background: #007bff;
}

.owl-carousel.owl-loaded {
    display: block;
}

.owl-carousel.owl-loading {
    opacity: 0;
    display: block;
}

.owl-carousel.owl-hidden {
    opacity: 0;
}

.owl-carousel.owl-refresh .owl-item {
    visibility: hidden;
}

.owl-carousel.owl-drag .owl-item {
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.owl-carousel.owl-grab {
    cursor: grab;
}

.owl-carousel.owl-rtl {
    direction: rtl;
}

.owl-carousel.owl-rtl .owl-item {
    float: right;
}

.no-js .owl-carousel {
    display: block;
}

.owl-carousel .animated {
    animation-duration: 1000ms;
    animation-fill-mode: both;
}

.owl-carousel .owl-animated-in {
    z-index: 0;
}

.owl-carousel .owl-animated-out {
    z-index: 1;
}

.owl-carousel .fadeOut {
    animation-name: fadeOut;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.owl-height {
    transition: height 500ms ease-in-out;
}

.owl-carousel .owl-item .owl-lazy {
    opacity: 0;
    transition: opacity 400ms ease;
}

.owl-carousel .owl-item .owl-lazy[src^=""],
.owl-carousel .owl-item .owl-lazy:not([src]) {
    max-height: 0;
}

.owl-carousel .owl-item img.owl-lazy {
    transform-style: preserve-3d;
}

.owl-carousel .owl-video-wrapper {
    position: relative;
    height: 100%;
    background: #000;
}


/* Table of contents */

.table-of-contents {
    background: #f8f9fa;
    margin-bottom: 30px
}

.table-of-contents__header {
    padding: 15px 30px;
    font-weight: 700;
    font-size: 1.1em
}

.table-of-contents__hide {
    cursor: pointer
}

.table-of-contents__hide i {
    font-size: 14px;
}

.table-of-contents__hide i:after {
    margin-left: 12px
}

.table-of-contents__hide:hover {
    opacity: .9
}

.table-of-contents.open .table-of-contents__list {
    display: block
}

.table-of-contents.open .table-of-contents__hide .icon-action {
    transform: rotate(180deg) translateZ(0px);
    transition: transform 0.4s ease 0s, -webkit-transform 0.4s ease 0s;
}

.table-of-contents__list {
    margin-top: 0
}

.table-of-contents__list>ol>li:before {
    width: 1.5em
}

.table-of-contents__list>ol>li>ol>li {
    font-size: .92em
}

.table-of-contents__list>ol>li>ol>li:before {
    width: 2.5em
}

.table-of-contents__list>ol>li>ol>li>ol>li {
    font-size: .88em
}

.table-of-contents__list>ol>li>ol>li>ol>li:before {
    width: 3em
}

.table-of-contents ol {
    margin: 0 30px 0;
    padding: 0 0 15px 0;
    list-style: none
}

.table-of-contents ol>li>ol {
    padding: 0;
}

.table-of-contents ol>li>ol>li>ol {
    padding: 0;
}

.table-of-contents ol li {
    padding-left: 0;
    margin-bottom: 0
}

.table-of-contents ol li a {
    text-decoration: none
}

.table-of-contents ol li:before {
    display: inline-block;
    content: counter(point) ". ";
    opacity: .5;
    margin-right: 5px;
    margin-left: 0
}

.table-of-contents>ol>li {
    counter-increment: point;
    counter-reset: sublist;
    margin-top: .4em;
    margin-bottom: .2em
}

.table-of-contents>ol>li>ol>li {
    counter-reset: sublist3;
    margin-top: .3em;
    margin-bottom: .3em;
    margin-left: 30px
}

.table-of-contents>ol>li>ol>li:before {
    content: counter(point) "." counter(sublist) ". ";
    counter-increment: sublist
}

.table-of-contents {
    margin-top: .3em;
    margin-bottom: .7em;
    margin-left: 0px
}

.table-of-contents>ol>li>ol>li>ol>li:before {
    content: counter(point) "." counter(sublist) "." counter(sublist3) ". ";
    counter-increment: sublist3;
    width: 40px
}

blockquote {
    background: #f8f9fa;
    border-left: 5px solid #ccc;
    margin: 1.5em 0px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
    font-family: 'Lato', sans-serif;
}

blockquote:before {
    color: #ccc;
    content: "\201C";
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote p {
    display: inline;
}

.tags a {
    font-size: 18px;
}