/* Table of contents */

.table-of-contents {
	margin-bottom: 30px
}

.table-of-contents-header {
	padding: 15px 30px;
	font-weight: 700;
	font-size: 1.1em
}

.table-of-contents__hide {
	cursor: pointer
}

.table-of-contents__hide i {
	font-size: 14px;
}

.table-of-contents__hide i:after {
	margin-left: 12px
}

.table-of-contents__hide:hover {
	opacity: .9
}

.table-of-contents.open .table-of-contents-list {
	display: block
}

.table-of-contents.open .table-of-contents__hide .icon-action {
	transform: rotate(180deg) translateZ(0px);
	transition: transform 0.4s ease 0s, -webkit-transform 0.4s ease 0s;
}

.table-of-contents-list {
	margin-top: 0
}

.table-of-contents-list>ol>li:before {
	width: 1.5em
}

.table-of-contents-list>ol>li>ol>li {
	font-size: .92em
}

.table-of-contents-list>ol>li>ol>li:before {
	width: 2.5em
}

.table-of-contents-list>ol>li>ol>li>ol>li {
	font-size: .88em
}

.table-of-contents-list>ol>li>ol>li>ol>li:before {
	width: 3em
}

.table-of-contents ol {
	margin: 0 30px 0;
	padding: 0 0 15px 0;
	list-style: none
}

.table-of-contents ol>li>ol {
	padding: 0;
}

.table-of-contents ol>li>ol>li>ol {
	padding: 0;
}

.table-of-contents ol li {
	padding-left: 0;
	margin-bottom: 0
}

.table-of-contents ol li a {
	text-decoration: none
}

.table-of-contents ol li:before {
	display: inline-block;
	content: counter(point) ". ";
	opacity: .5;
	margin-right: 5px;
	margin-left: 0
}

.table-of-contents>ol>li {
	counter-increment: point;
	counter-reset: sublist;
	margin-top: .4em;
	margin-bottom: .2em
}

.table-of-contents>ol>li>ol>li {
	counter-reset: sublist3;
	margin-top: .3em;
	margin-bottom: .3em;
	margin-left: 30px
}

.table-of-contents>ol>li>ol>li:before {
	content: counter(point) "." counter(sublist) ". ";
	counter-increment: sublist
}

.table-of-contents {
	margin-top: .3em;
	margin-bottom: .7em;
	margin-left: 0px
}

.table-of-contents>ol>li>ol>li>ol>li:before {
	content: counter(point) "." counter(sublist) "." counter(sublist3) ". ";
	counter-increment: sublist3;
	width: 40px
}

blockquote {
	background: #f8f9fa;
	border-left: 5px solid #ccc;
	margin: 1.5em 0px;
	padding: 0.5em 10px;
	quotes: "\201C""\201D""\2018""\2019";
	font-family: 'Lato', sans-serif;
}

blockquote:before {
	color: #ccc;
	content: "\201C";
	font-size: 4em;
	line-height: 0.1em;
	margin-right: 0.25em;
	vertical-align: -0.4em;
}

blockquote p {
	display: inline;
}

.tags a {
	font-size: 18px;
}