/* Products grid and list */

.image {
	margin-bottom: 10px;
	padding: 5px;
	text-align: center;
	vertical-align: middle;
	line-height: 240px;
}

.image img {
	max-width: 100%;
	vertical-align: middle;
}

.card-product-grid {
	margin-bottom: 20px;
}

.card-product-grid .img-wrap {
	border-radius: 0.2rem 0.2rem 0 0;
	height: 220px;
}

.img-wrap {
	overflow: hidden;
	position: relative;
	text-align: center;
	display: block;
	margin-top: 10px;
}

.img-wrap .image {
	line-height: 220px;
}

.badges {
	top: 0px;
	left: 10px;
	position: absolute !important;
	line-height: normal;
	margin: 5px 0 0 10px;
	width: 40px;
	z-index: 1;
}

.badges .badge {
	margin: 5px 0 0 0;
}

.notify-badge {
	font-size: 1rem;
	line-height: 1rem;
	left: 1rem;
}

.img-wrap img {
	height: 100%;
	max-width: 100%;
	width: auto;
	display: inline-block;
	-o-object-fit: cover;
	object-fit: cover;
}

.img-wrap .loader {
	height: 70px;
}

.img-wrap i {
	height: 100%;
	max-width: 100%;
	width: auto;
	display: inline-block;
	-o-object-fit: cover;
	object-fit: cover;
}

.card-product-grid .btn-overlay {
	transition: 0.5s;
	opacity: 0;
	left: 0;
	bottom: 0;
	color: #fff;
	width: 100%;
	padding: 5px 0;
	text-align: center;
	position: absolute;
	background: rgba(0, 0, 0, 0.5);
}

.card-product-grid .info-wrap {
	overflow: hidden;
	padding: 18px 20px;
}

.card-product-grid .fix-height {
	height: 130px;
	overflow: hidden;
}

@media (max-width:1199px) {
	.card-product-grid .fix-height {
		height: 150px;
	}
}

@media (max-width:991px) {
	.card-product-grid .fix-height {
		height: 130px;
	}
}

.card-product .price-old {
	color: #999;
}

.card-product .image {
	min-height: 250px;
}

.card-product .price-old {
	color: #999;
}

.card-product .image {
	min-height: 250px;
}

a.title {
	font-weight: 600;
	font-size: 1.2rem;
	display: block;
}

.price {
	font-weight: 600;
	font-size: 1.25rem;
}

.price-old {
	color: #999;
	font-weight: 600;
	font-size: 1.2rem;
}