/* Carusel images */

.product .carousel {
    min-height: 320px;
}

.thumbnail {
    max-height: 70px;
    min-height: 70px;
}

.img-thumbnail {
    min-width: 100px;
}

.img-thumbnail:hover {
    border: 1px solid #007bff;
}

.img-thumbnail.selected {
    border: 1px solid #007bff;
}

.img-thumbnail.selected:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.icon-focus {
    color: #fff;
    font-family: "MobiriseIcons";
    font-size: 3rem;
    left: calc(50% - 24px);
    opacity: 0;
    position: absolute;
    top: calc(50% - 32px);
    transition: opacity 0.2s ease-in-out 0s;
    z-index: 5;
}

.icons {
    position: absolute !important;
    line-height: normal;
    margin: 5px 0 0 10px;
    width: 74px;
    z-index: 1;
}

.icons .badge {
    margin: 5px 0 0 0;
}


/* Variants */

.variants td {
    padding: 4px 0;
    text-align: left;
}

.variants label {
    display: inline-block;
    padding: 6px;
    margin: 3px 6px 3px 0;
    min-width: 37px;
    white-space: nowrap;
    border: solid 1px #ddd;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
    border-radius: 0.25rem;
}

.variants label.active {
    padding: 5px;
    color: #007bff;
    border: solid 2px #007bff;
}

.variants label input {
    display: none;
}

.variants label:active {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    padding: 5px;
    border: solid 2px #007bff;
}

.variants label:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    border: solid 2px #007bff;
}