/* Products grid and list */

.image {
	margin-bottom: 10px;
	padding: 5px;
	text-align: center;
	vertical-align: middle;
	line-height: 240px;
}

.image img {
	max-width: 100%;
	vertical-align: middle;
}

.card-product-grid {
	margin-bottom: 20px;
}

.card-product-grid .img-wrap {
	border-radius: 0.2rem 0.2rem 0 0;
	height: 240px;
}

.img-wrap {
	overflow: hidden;
	position: relative;
	text-align: center;
	display: block;
	margin-top: 10px;
}

.img-wrap .image {
	line-height: 240px;
}

.badges {
	top: 0px;
	left: 10px;
	position: absolute !important;
	line-height: normal;
	margin: 5px 0 0 10px;
	width: 40px;
	z-index: 1;
}

.badges .badge {
	margin: 5px 0 0 0;
}

.notify-badge {
	line-height: 0.8rem;
	left: 1rem;
}

.img-wrap img {
	height: 100%;
	max-width: 100%;
	width: auto;
	display: inline-block;
	-o-object-fit: cover;
	object-fit: cover;
}

.img-wrap .loader {
	height: 70px;
}

.img-wrap i {
	height: 100%;
	max-width: 100%;
	width: auto;
	display: inline-block;
	-o-object-fit: cover;
	object-fit: cover;
}

.card-product-grid .btn-overlay {
	transition: 0.5s;
	opacity: 0;
	left: 0;
	bottom: 0;
	color: #fff;
	width: 100%;
	padding: 5px 0;
	text-align: center;
	position: absolute;
	background: rgba(0, 0, 0, 0.5);
}

.card-product-grid .info-wrap {
	overflow: hidden;
	padding: 18px 20px;
}

.card-product-grid .fix-height {
	height: 130px;
	overflow: hidden;
}

@media (max-width:1199px) {
	.card-product-grid .fix-height {
		height: 125px;
	}
}

@media (max-width:991px) {
	.card-product-grid .fix-height {
		height: 130px;
	}
}

@media (max-width:768px) {
	.border-start {
		border: 0 !important;
	}
}

.card-product .price-old {
	color: #999;
}

.card-product .image {
	min-height: 170px;
}

.card-product .price-old {
	color: #999;
}

.price {
	font-weight: 600;
	font-size: 1.25rem;
}

.price-old {
	color: #999;
	font-weight: 600;
	font-size: 1.2rem;
}

.related-products  {
	display: flex;
    flex-direction: row;
    align-items: center;
}

.related-products a {
	display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    vertical-align: bottom;
    text-align: center;
    border-radius: 50%;
    box-sizing: border-box;
    border: 1px solid transparent;
    transition: all .2s ease-in-out;
}

.related-products a span {
	position: relative;
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    overflow: hidden;
    line-height: 16px;
}

.related-products .white span {
	border: 1px solid rgba(0, 0, 0, 0.125);
}

.related-products a.active {
	border: 1px solid rgba(13, 110, 253)!important;
}
