body {
	padding-top: 54px;
}

@media (min-width: 992px) {
	body {
		padding-top: 56px;
	}
}

.small,
small {
	font-size: 0.875em;
	font-weight: 500;
}

.slide img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

.btn-toolbar h1 {
	font-size: 1.6rem;
}

.page-footer a {
	color: rgba(255, 255, 255, 0.5) !important;
}

.page-footer a:hover {
	color: rgba(255, 255, 255, 1) !important;
}

/* Open sidebar */

body.offcanvas-active {
	overflow: hidden;
}

.offcanvas-header {
	display: none;
}

.screen-overlay {
	width: 0%;
	height: 100%;
	z-index: 30;
	position: fixed;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	background-color: rgba(34, 34, 34, 0.6);
	transition: opacity .2s linear, visibility .1s, width 1s ease-in;
}

.screen-overlay.show {
	transition: opacity .5s ease, width 0s;
	opacity: 1;
	width: 100%;
	visibility: visible;
}

@media all and (max-width:992px) {
	.offcanvas-header {
		display: block;
	}

	.mobile-offcanvas {
		visibility: hidden;
		transform: translateX(-100%);
		border-radius: 0;
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		z-index: 1200;
		width: 80%;
		overflow-y: scroll;
		overflow-x: hidden;
		transition: visibility .2s ease-in-out, transform .2s ease-in-out;
	}

	.mobile-offcanvas.show {
		visibility: visible;
		transform: translateX(0);
	}
}


/* Category */

.cat .list-group-item {
	padding-left: 30px;
}

.cat3 .list-group-item {
	padding-left: 40px;
	color: #0d6efd;
}

.cat3 .list-group-item:hover {
	color: #0a58ca;
}

.cat .list-group-item:first-child {
	border-radius: 0px;
}

.cat .list-group-item:last-child {
	border-bottom: 0 none;
	border-radius: 0px;
}

.list-group-item+.list-group-item {
	border-top-width: 1px;
}

.list-group-item {
	margin-bottom: -1px;
}

.list-group .bg-primary a {
	color: #fff;
}

#sidebar .list-group a[aria-expanded=true] i {
	transform: rotate(180deg) translateZ(0px);
	transition: transform 0.4s ease 0s, -webkit-transform 0.4s ease 0s;
}

#sidebar .card-body {
	padding: 1.1rem;
}

#sidebar .list-group .fa-angle-down {
	vertical-align: middle;
	margin-left: 2px;
}

.card a[aria-expanded=false] i {
	transform: rotate(180deg) translateZ(0px);
	transition: transform 0.4s ease 0s, -webkit-transform 0.4s ease 0s;
}


/* Rating */

.rating-wrap>* {
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
}

.label-rating {
	display: inline-block;
	margin-right: 5px;
	vertical-align: middle;
}

.reviews .label-rating {
	margin-left: 5px;
}

.stars-simple {
	margin-bottom: 7px
}

.stars-simple i {
	color: orange;
}

.stars-simple small {
	color: #999;
	margin-left: 5px
}

.rating-stars {
	display: inline-block;
	vertical-align: middle;
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	line-height: 1;
	white-space: nowrap;
	clear: both;
}

.rating-stars i {
	font-size: 14px;
	color: #ccc;
	display: inline;
}

.reviews .rating-stars i {
	font-size: 20px;
}

.rating-stars li {
	display: block;
	text-overflow: clip;
	white-space: nowrap;
	z-index: 1;
}

.rating-stars li.stars-active {
	z-index: 2;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}

.rating-stars li.stars-active i {
	color: orange;
}

.raty {
	color: #ccc;
}

.raty .fa.fa-star {
	color: orange;
}

.raty .fas.fa-star-half-alt {
	color: orange;
	width: 18px;
	height: 16px;
}

#review .far.fa-star {
	color: #ccc;
}

#review i {
	margin-right: 5px;
}

/* Back top button */

#back-to-top {
	position: fixed;
	bottom: 70px;
	right: 20px;
	z-index: 1000;
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	color: #fff;
	cursor: pointer;
	border: 0;
	border-radius: 5px;
	font-size: 16px;
	text-decoration: none;
	transition: opacity 0.2s ease-out;
	opacity: 0;
}

#back-to-top i {
	font-size: 20px;
}

#back-to-top.show {
	opacity: 1;
}


/* Capcha */

.secret-number {
	border-radius: 4px;
	height: 39px;
	padding: 0 10px;
	display: inline-block;
	position: relative;
	font-weight: bold;
	cursor: pointer;
	margin-right: 10px;
	font-size: 14px;
	line-height: 39px;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
	pointer-events: none;
}


/* Comments */

.vote .pos {
	color: #07a23b !important;
}

.vote .neg {
	color: #cd192e !important;
}

.vote-value {
	border: none;
}

.comments-item-edit>span,
.comments-item-reply>span {
	border-bottom: 1px dotted #818181;
	display: inline-block;
	line-height: 17px;
	color: #818181;
	cursor: pointer;
}

.comments .vote-value {
	min-width: 40px;
	border: none;
}

.comments .vote .pos {
	color: #07a23b;
}

.comments .vote .neg {
	color: #cd192e;
}

.btn.vote-button-minus,
.btn.vote-button-plus {
	color: #818181;
	border: none;
}

.btn.vote-button-minus:hover {
	color: #cd192e;
}

.btn.vote-button-plus:hover {
	color: #07a23b;
	border: none;
}

.comments__item__vote .vote-button {
	visibility: hidden;
}

.btn-group .sort-comments .active {
	font-weight: 700;
}

.btn-group .card-link.active {
	border-bottom: 3px solid #007bff;
	font-weight: 700;
}

.btn.vote-button-plus:focus,
.btn.vote-button-minus:focus {
	box-shadow: none;
}

iframe {
	border: none;
}

.tags a {
	font-size: 18px;
}

/* Brands */

.box {
	padding: 18px;
	background: #fff;
	border-radius: 0.37rem;
	border: 1px solid #e4e4e4;
}

.item-logo {
	margin-bottom: 20px;
	text-align: center;
}

.btn-toolbar h1 {
	font-size: 1.6rem;
}

.media-body {
	-ms-flex: 1;
	flex: 1;
}

.media {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: start;
	align-items: flex-start;
}

/* Search autocomplete */

.autocomplete-suggestions {
	background-color: #ffffff;
	overflow: hidden;
	border: 1px solid #e0e0e0;
	overflow-y: auto;
}

.autocomplete-suggestions .search-img {
	display: inline-block;
	text-align: center;
	width: 50px;
	height: 50px;
	line-height: 43px;
}

.autocomplete-suggestions img {
	max-width: 100%;
	max-height: 60px;
}

.autocomplete-suggestions a {
	text-decoration: none !important;
	display: inline-block;
}

.autocomplete-suggestions .autocomplete-suggestion {
	cursor: default;
}

.autocomplete-suggestions .selected {
	background: #F0F0F0;
}

.autocomplete-suggestions div {
	white-space: nowrap;
}

.autocomplete-suggestions strong {
	font-weight: bold;
}

.quickview {
	padding: 30px;
	position: relative;
}

.product-card-quickview-preload,
.product-card-quickview-preload:hover {
	color: transparent;
}

.product-card-quickview-preload:after {
	display: block;
	content: "";
	position: absolute;
	border: 2px solid rgba(0, 0, 0, 0.1);
	border-top-color: rgba(0, 0, 0, 0.5);
	transition: border-color 0.1s;
	animation-name: a;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	left: calc(50% - 8px);
	top: calc(50% - 8px);
	width: 17px;
	height: 17px;
	border-radius: 8px;
}

.product-card-quickview-preload .fa-eye {
	opacity: 0;
}

.compare .table>:not(caption)>*>* {
	padding: 0.7rem 0.7rem;
	vertical-align: top;
}