.price {
	color: #fff;
}

.card-filter .card-header a {
	color: #adb5bd;
}

.secret-number {
	border: 1px solid #495057;
	color: #adb5bd;
}

#back-to-top {
	background-color: #0d6efd;
	border-color: #0d6efd;
}

#back-to-top:hover {
	background-color: #0b5ed7;
	border-color: #0b5ed7;
}

.online-chat {
	fill: #198754;
}

.chaty-widget .i-trigger .i-trigger-close {
	background-color: #198754;
}

.btn-group .sort-comments {
	color: #adb5bd;
}

.btn-group .sort-comments.active {
	border-bottom: 3px solid #198754;
	color: #fff;
}

.search-item .font-13 {
	color: #0d6efd;
}

.autocomplete-suggestions {
    background-color: #212529!important;
}

.autocomplete-suggestions strong {
	color: #9ec5fe;
}

.quickview .img-thumbnail {
	background-color: #212529;
}

.btn-link:focus {
	box-shadow: none !important;
}

/* Variants */

.variants label {
	border: solid 1px #495057;
}

.variants label.active {
	color: #0d6efd;
	border: solid 2px #0d6efd;
}

.variants label:active {
	box-shadow: 0 0 0 0.2rem rgba(49, 132, 253, 0.25);
	border: solid 2px #0d6efd;
}

.variants label:focus {
	box-shadow: 0 0 0 0.2rem rgba(49, 132, 253, 0.25);
	border: solid 2px #0d6efd;
}

.variants label:active:focus {
	box-shadow: 0 0 0 0.2rem rgba(49, 132, 253, 0.25);
	border: solid 2px #0d6efd;
}

/* Carusel images */

.img-thumbnail:hover {
	border: 1px solid #0d6efd;
}

.img-thumbnail.selected {
	border: 1px solid #0d6efd;
}

.img-thumbnail.selected:focus {
	box-shadow: 0 0 0 0.2rem rgba(49, 132, 253, 0.25);
}

.owl-carousel .owl-dots .owl-dot.active span,
.owl-carousel .owl-dots .owl-dot:hover span {
	background: #0d6efd;
}

a.admin_bookmark {
	border: 1px solid #495057 !important;
    background-color: #2b3035 !important;
}
