[data-bs-theme=dark] .logo-main {
	color: #fff;
}

.shadow-top {
	box-shadow: 0 -0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.handheld-toolbar .badge {
	font-size: 0.625rem;
}

.fancybox__container {
	z-index: 99992 !important;
}

.slide img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

.card>.list-group:last-child {
	border-bottom-width: 1px;
}

.block-description img {
	max-width: 100%;
	height: auto;
}

.btn-toolbar h1 {
	font-size: 1.6rem;
}

.page-footer a {
	color: rgba(255, 255, 255, 0.5) !important;
}

.page-footer a:hover {
	color: rgba(255, 255, 255, 1) !important;
}

.empty-ul {
	display: none;
}

/* All Departament */

.all-departament .dropdown-item {
	padding: 0.25rem 1rem;
	color: var(--bs-body-color);
}

.all-departament .dropdown-item:focus,
.all-departament .dropdown-item:hover {
	color: var(--bs-body-color);
	background-color: var(--bs-tertiary-bg);
}

.all-departament .dropdown-item.active,
.all-departament .dropdown-item:active {
	color: #fff;
	background-color: var(--bs-primary);
}

/* Megamenu */

.navbar .dropdown-fullwidth {
	position: static;
}

.navbar .dropdown-fullwidth .dropdown-menu {
	left: 0;
	margin: 1.25rem auto;
	max-width: 1320px;
	padding: 1rem 0;
	right: 0;
	top: 32px;
}

/* Spacing */

.mt-n1 {
	margin-top: -0.25rem !important;
}

/* Category */

.cat .list-group-item {
	padding-left: 30px;
}

.cat3 .list-group-item {
	padding-left: 40px;
	color: var(--bs-primary);
}

.cat3 .list-group-item:hover {
	color: #0a58ca;
}

.cat .list-group-item:first-child {
	border-radius: 0px;
}

.cat .list-group-item:last-child {
	border-bottom: 0 none;
	border-radius: 0px;
}

.list-group-item+.list-group-item {
	border-top-width: 1px;
}

.list-group-item {
	margin-bottom: -1px;
}

.list-group .bg-primary a {
	color: #fff;
}

#sidebar .list-group a[aria-expanded=true] i {
	transform: rotate(180deg) translateZ(0px);
	transition: transform 0.4s ease 0s, -webkit-transform 0.4s ease 0s;
}

#sidebar .card-body {
	padding: 1.1rem;
}

#sidebar .list-group .fa-angle-down {
	vertical-align: middle;
	margin-left: 2px;
}

.card a[aria-expanded=false] i {
	transform: rotate(180deg) translateZ(0px);
	transition: transform 0.4s ease 0s, -webkit-transform 0.4s ease 0s;
}

/* Rating */

.rating-wrap>* {
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
}

.label-rating {
	display: inline-block;
	margin-right: 5px;
	vertical-align: middle;
}

.reviews .label-rating {
	margin-left: 5px;
}

.stars-simple {
	margin-bottom: 7px
}

.stars-simple i {
	color: orange;
}

.stars-simple small {
	color: #999;
	margin-left: 5px
}

.rating-stars {
	display: inline-block;
	vertical-align: middle;
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	line-height: 1;
	white-space: nowrap;
	clear: both;
}

.rating-stars i {
	font-size: 14px;
	color: #ccc;
	display: inline;
}

.reviews .rating-stars i {
	font-size: 20px;
}

.rating-stars li {
	display: block;
	text-overflow: clip;
	white-space: nowrap;
	z-index: 1;
}

.rating-stars li.stars-active {
	z-index: 2;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}

.rating-stars li.stars-active i {
	color: orange;
}

.raty {
	color: #ccc;
}

.raty .fa.fa-star {
	color: orange;
}

.raty .far.fa-star-half-stroke {
	color: orange;
	margin-left: -1px;
	margin-right: -1px;
}

#review .far.fa-star {
	color: #ccc;
}

#review i {
	margin-right: 5px;
}

/* Back Top Button */

#back-to-top {
	position: fixed;
	bottom: 70px;
	right: 20px;
	z-index: 1000;
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	color: #fff;
	cursor: pointer;
	border: 0;
	border-radius: 5px;
	font-size: 16px;
	text-decoration: none;
	transition: opacity 0.2s ease-out;
	opacity: 0;
	background-color: var(--bs-primary);
	border-color: var(--bs-primary);
}

#back-to-top:hover {
	background-color: #0b5ed7;
	border-color: #0b5ed7;
}

#back-to-top i {
	font-size: 20px;
}

#back-to-top.show {
	opacity: 1;
}

/* Capcha */

.secret-number {
	border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color-translucent) !important;
	color: var(--bs-secondary-color) !important;
	border-radius: 4px;
	height: 39px;
	padding: 0 10px;
	display: inline-block;
	position: relative;
	font-weight: bold;
	cursor: pointer;
	font-size: 14px;
	line-height: 39px;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
	pointer-events: none;
}

/* Comments */

.vote .pos {
	color: var(--bs-success) !important;
}

.vote .neg {
	color: var(--bs-danger) !important;
}

.vote-value {
	border: none;
}

.comments-item-edit>span,
.comments-item-reply>span {
	border-bottom: 1px dotted #818181;
	display: inline-block;
	line-height: 17px;
	color: #818181;
	cursor: pointer;
}

.comments .vote-value {
	min-width: 40px;
	border: none;
}

.comments .vote .pos {
	color: var(--bs-success);
}

.comments .vote .neg {
	color: var(--bs-danger);
}

.btn.vote-button-minus,
.btn.vote-button-plus {
	color: #818181;
	border: none;
}

.btn.vote-button-minus:hover {
	color: var(--bs-danger);
}

.btn.vote-button-plus:hover {
	color: var(--bs-success);
	border: none;
}

.comments__item__vote .vote-button {
	visibility: hidden;
}

.btn-group .sort-comments .active {
	font-weight: 700;
}

.btn-group .card-link.active {
	border-bottom: 3px solid #0a58ca;
	font-weight: 700;
}

.btn.vote-button-plus:focus,
.btn.vote-button-minus:focus {
	box-shadow: none;
}

iframe {
	border: none;
}

/* Brands */

.box {
	padding: 18px;
	background: var(--bs-body-bg);
	border-radius: 0.37rem;
	border: var(--bs-border-width) solid var(--bs-border-color);
}

.item-logo {
	margin-bottom: 20px;
	text-align: center;
}

.btn-toolbar h1 {
	font-size: 1.6rem;
}

/* Social Colors */

.bs-facebook:hover {
	color: #3b5998;
}

.bs-instagram:hover {
	color: #5851db;
}

.bs-youtube:hover {
	color: #ff0000;
}

.bs-linkedin:hover {
	color: #0077b5;
}

/* Search Autocomplete */

.autocomplete-suggestions {
	overflow: hidden;
	overflow-y: auto;
	background-color: var(--bs-body-bg);
	border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color-translucent);
}

.autocomplete-selected {
	background-color: rgba(var(--bs-emphasis-color-rgb), 0.075);
}

.autocomplete-suggestions strong {
	color: var(--bs-link-color);
}

.autocomplete-suggestion:hover a,
.autocomplete-suggestion:hover strong {
	color: var(--bs-link-hover-color);
}

.autocomplete-suggestions .search-img {
	display: inline-block;
	text-align: center;
	width: 50px;
	height: 50px;
	line-height: 45px;
}

.autocomplete-suggestions img {
	max-width: 100%;
	max-height: 60px;
}

.autocomplete-suggestions a {
	text-decoration: none !important;
	vertical-align: middle;
}

.autocomplete-suggestions .autocomplete-suggestion {
	cursor: default;
}

.autocomplete-suggestions .selected {
	background: rgba(var(--bs-emphasis-color-rgb), 0.075);
}

.autocomplete-suggestions div {
	white-space: nowrap;
}

.autocomplete-suggestions strong {
	font-weight: bold;
}

.autocomplete-suggestion:not(:has(.search-img)) {
	padding-bottom: 0.25rem;
}

.autocomplete-suggestion:not(:has(.search-img)) a {
	margin-left: 1rem;
}

/* Quick View */

.product-card-quickview-preload,
.product-card-quickview-preload:hover {
	color: transparent;
}

.product-card-quickview-preload:after {
	display: block;
	content: "";
	position: absolute;
	border: 2px solid rgba(0, 0, 0, 0.1);
	border-top-color: rgba(0, 0, 0, 0.5);
	transition: border-color 0.1s;
	animation-name: a;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	left: calc(50% - 8px);
	top: calc(50% - 8px);
	width: 17px;
	height: 17px;
	border-radius: 8px;
}

@keyframes a {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.product-card-quickview-preload .fa-eye {
	opacity: 0;
}

.quickview .product-card-quickview-preload:after {
	opacity: 0;
}

/* Compare */

.compare .table>:not(caption)>*>* {
	padding: 0.7rem 0.7rem;
	vertical-align: top;
}

/* Carusel images */

.product-gallery-thumblist-item {
	border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color-translucent);
}

.owl-carousel .owl-dots .owl-dot.active span,
.owl-carousel .owl-dots .owl-dot:hover span {
	background: var(--bs-primary);
}

/* Admin  Bookmark */

a.admin-bookmark {
	border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color-translucent) !important;
	background-color: var(--bs-body-bg) !important;
}