.blog-list__item {
	position: relative;
	overflow: hidden;
}

.blog-list__item-image-wrapper {
	position: relative;
	padding-top: 63%;
}

.blog-list__item-image {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.tb-ie .blog-list__item-text-top-part {
	flex-basis: auto;
}

.blog-list__item-preview-wrapper {
	margin-top: 9px;
}

.blog-list__item-text-wrapper {
	padding: 13px 15px 0px;
}

.blog-list__item-link--absolute {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 2;
}

.blog-list__item-text-bottom-part {
	margin-top: 9px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.blog-list__item-period {
	position: relative;
}

.blog-list__item-text-bottom-part__separator {
	margin: 0px 11px;
	font-size: 0.93333em;
	line-height: 18px;
	opacity: 0.2;
}

.blog-list__item-sticker {
	position: absolute;
	font-size: 0px;
	line-height: 0px;
	z-index: 2;
	bottom: 20px;
	left: 16px;
}

.blog-list__item__popup-video {
	background-color: #9e9e9e;
	background-color: var(--theme-base-color);
	height: 32px;
	width: 32px;
	border-radius: 50%;
}

.blog-list__item__popup-video:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	border: 5px solid transparent;
	border-left: 11px solid #fff;
	margin: -5px 0 0 -4px;
}

@media (max-width: 600px) {
	.blog-list__item-preview-wrapper {
		font-size: 13px;
		line-height: 20px;
		margin-bottom: 15px;
	}

	.blog-list__item-text-wrapper {
		padding: 17px 19px 0px;
	}

	.blog-list__item-image-wrapper {
		padding-top: 67%;
	}

	.blog-list__item-text-bottom-part__separator {
		margin: 0px 7px;
		line-height: 21px;
	}
}

@media (max-width: 500px) {
	.grid-list--normal .blog-list__wrapper {
		width: 100%;
	}
}

.post-views {
	display: inline-flex;
	gap: 12px;
	margin-right: 14px;
}

.post-views-eye {
	display: inline-block;
	line-height: 20px;
}