.cm-s-light.CodeMirror { font-family: monospace; background-color: #fff; border: 1px solid #ced4da;}
.cm-s-light .cm-keyword {color: #708;}
.cm-s-light .cm-atom {color: #219;}
.cm-s-light .cm-number {color: #164;}
.cm-s-light .cm-def {color: #00f;}
.cm-s-light .cm-variable {color: black;}
.cm-s-light .cm-variable-2 {color: #05a;}
.cm-s-light .cm-variable-3 {color: #085;}
.cm-s-light .cm-property {color: black;}
.cm-s-light .cm-operator {color: black;}
.cm-s-light .cm-comment {color: #a50;}
.cm-s-light .cm-string {color: #a11;}
.cm-s-light .cm-string-2 {color: #f50;}
.cm-s-light .cm-meta {color: #555;}
.cm-s-light .cm-qualifier {color: #555;}
.cm-s-light .cm-builtin {color: #30a;}
.cm-s-light .cm-bracket {color: #997;}
.cm-s-light .cm-tag {color: #170;}
.cm-s-light .cm-attribute {color: #00c;}
.cm-s-light .cm-header {color: blue;}
.cm-s-light .cm-quote {color: #090;}
.cm-s-light .cm-hr {color: #999;}
.cm-s-light .cm-link {color: #00c;}

.cm-negative {color: #d44;}
.cm-positive {color: #292;}
.cm-header, .cm-strong {font-weight: bold;}
.cm-em {font-style: italic;}
.cm-link {text-decoration: underline;}

.cm-s-light .cm-error {color: #f00;}
.cm-invalidchar {color: #f00;}

div.CodeMirror span.CodeMirror-matchingbracket {color: #0f0;}
div.CodeMirror span.CodeMirror-nonmatchingbracket {color: #f22;}
.CodeMirror-activeline-background {background: #e8f2ff;}
.CodeMirror-linenumber {min-width: 25px;}

.cm-s-light .cm-smarty.cm-tag{color: black;}
.cm-s-light .cm-smarty.cm-operator{color: black;}
.cm-s-light .cm-smarty.cm-string {color: black}
.cm-s-light .cm-smarty.cm-variable {color: black;}
.cm-s-light .cm-smarty.cm-variable-2 {color: black}
.cm-s-light .cm-smarty.cm-variable-3 {color: black;}
.cm-s-light .cm-smarty.cm-property {color: black;}
.cm-s-light .cm-smarty.cm-attribute {color: black}
.cm-s-light .cm-smarty.cm-qualifier {color: black;}
.cm-s-light .cm-smarty.cm-number {color: black;}
.cm-s-light .cm-smarty.cm-keyword {color: black;}
.cm-s-light .cm-smarty.cm-string {color: black}
.cm-s-light .cm-smarty.cm-bracket {color: black;}
.cm-s-light .cm-tag-smarty{color: black;}