desktop.ini
compiled/*/*.php
turbo/design/compiled/*.php

files/products/*.jpg
files/products/*.jpeg
files/products/*.png
files/products/*.gif
files/products/*.tif
files/products/*.bmp
files/products/*.ico
files/products/*.webp

files/brands/preview/*.jpg
files/brands/preview/*.jpeg
files/brands/preview/*.png
files/brands/preview/*.gif
files/brands/preview/*.tif
files/brands/preview/*.bmp
files/brands/preview/*.ico
files/brands/preview/*.webp

files/categories/preview/*.jpg
files/categories/preview/*.jpeg
files/categories/preview/*.png
files/categories/preview/*.gif
files/categories/preview/*.tif
files/categories/preview/*.bmp
files/categories/preview/*.ico
files/categories/preview/*.webp

files/articles/preview/*.jpg
files/articles/preview/*.jpeg
files/articles/preview/*.png
files/articles/preview/*.gif
files/articles/preview/*.tif
files/articles/preview/*.bmp
files/articles/preview/*.ico
files/articles/preview/*.webp

files/posts/preview/*.jpg
files/posts/preview/*.jpeg
files/posts/preview/*.png
files/posts/preview/*.gif
files/posts/preview/*.tif
files/posts/preview/*.bmp
files/posts/preview/*.ico
files/posts/preview/*.webp

files/slides/preview/*.jpg
files/slides/preview/*.jpeg
files/slides/preview/*.png
files/slides/preview/*.gif
files/slides/preview/*.tif
files/slides/preview/*.bmp
files/slides/preview/*.ico
files/slides/preview/*.webp
