<?xml version="1.0" encoding="UTF-8"?>
<module>
	<settings>
		<variable>header_type</variable>
		<name>{$lang->header_type}</name>
        <options>
            <name>{$lang->header_type_1}</name>
            <value>1</value>
        </options>
		<options>
			<name>{$lang->header_type_2}</name>
			<value>2</value>
		</options>
	</settings>
	<settings>
		<variable>main_type</variable>
		<name>{$lang->main_type}</name>
        <options>
            <name>{$lang->main_type_1}</name>
            <value>1</value>
        </options>
		<options>
			<name>{$lang->main_type_2}</name>
			<value>2</value>
		</options>
	</settings>
	<settings>
		<variable>footer_type</variable>
		<name>{$lang->footer_type}</name>
        <options>
            <name>{$lang->footer_type_1}</name>
            <value>1</value>
        </options>
		<options>
			<name>{$lang->footer_type_2}</name>
			<value>2</value>
		</options>
	</settings>
</module>