<?xml version="1.0" encoding="UTF-8"?>
<module>
	<group>
		<name>{$lang->general_settings}</name>
		<settings>
			<variable>theme_color</variable>
			<name>{$lang->theme_color}</name>
			<options>
				<name>{$lang->default}</name>
				<value>theme_default</value>
			</options>
			<options>
				<name>{$lang->theme_light}</name>
				<value>theme_light</value>
			</options>
			<options>
				<name>{$lang->theme_dark}</name>
				<value>theme_dark</value>
			</options>
		</settings>
		<settings>
			<variable>logo</variable>
			<name>{$lang->logo}</name>
		</settings>	
		<settings>
			<variable>phone_1</variable>
			<name>{$lang->phone_1}</name>
		</settings>
		<settings>
			<variable>phone_2</variable>
			<name>{$lang->phone_2}</name>
		</settings>
			<settings>
			<variable>phone_mask</variable>
			<name>{$lang->phone_mask}</name>
		</settings>
		<settings>
			<variable>email</variable>
			<name>{$lang->email}</name>
		</settings>
		<settings>
			<variable>map</variable>
			<name>{$lang->map}</name>
		</settings>
		<settings>
			<variable>facebook</variable>
			<name>Facebook</name>
		</settings>
		<settings>
			<variable>instagram</variable>
			<name>Instagram</name>
		</settings>
		<settings>
			<variable>twitterx</variable>
			<name>Twitter (X)</name>
		</settings>
		<settings>
			<variable>youtube</variable>
			<name>YouTube</name>
		</settings>
		<settings>
			<variable>linkedin</variable>
			<name>LinkedIn</name>
		</settings>
	</group>
	<group>
		<name>{$lang->header}</name>
		<settings>
			<variable>menu_header_1</variable>
			<name>{$lang->menu_header_1}</name>
		</settings>
		<settings>
			<variable>menu_header_2</variable>
			<name>{$lang->menu_header_2}</name>
		</settings>
	</group>
	<group>
		<name>{$lang->main}</name>
		<settings>
			<variable>menu_main_1</variable>
			<name>{$lang->menu_main_1}</name>
		</settings>
		<settings>
			<variable>menu_main_2</variable>
			<name>{$lang->menu_main_2}</name>
		</settings>
		<settings>
			<variable>featured_limit</variable>
			<name>{$lang->featured_limit}</name>
		</settings>
		<settings>
			<variable>new_limit</variable>
			<name>{$lang->new_limit}</name>
		</settings>
		<settings>
			<variable>discounted_limit</variable>
			<name>{$lang->discounted_limit}</name>
		</settings>
		<settings>
			<variable>hit_limit</variable>
			<name>{$lang->hit_limit}</name>
		</settings>
	</group>
	<group>
		<name>{$lang->footer}</name>
		<settings>
			<variable>id_menu_footer_1</variable>
			<name>{$lang->id_menu_footer_1}</name>
		</settings>
		<settings>
			<variable>id_menu_footer_2</variable>
			<name>{$lang->id_menu_footer_2}</name>
		</settings>
		<settings>
			<variable>id_menu_footer_3</variable>
			<name>{$lang->id_menu_footer_3}</name>
		</settings>
	</group>
	<group>
		<name>{$lang->sitemap}</name>
		<settings>
			<variable>id_menu_sitemap_1</variable>
			<name>{$lang->id_menu_sitemap_1}</name>
		</settings>
		<settings>
			<variable>id_menu_sitemap_2</variable>
			<name>{$lang->id_menu_sitemap_2}</name>
		</settings>
		<settings>
			<variable>id_menu_sitemap_3</variable>
			<name>{$lang->id_menu_sitemap_3}</name>
		</settings>
		<settings>
			<variable>id_menu_sitemap_4</variable>
			<name>{$lang->id_menu_sitemap_4}</name>
		</settings>
		<settings>
			<variable>id_menu_sitemap_5</variable>
			<name>{$lang->id_menu_sitemap_5}</name>
		</settings>
	</group>
</module>