<?xml version="1.0" encoding="UTF-8"?>
<module>
	<name>
		Fondy
	</name>
	<settings>
		<variable>fondy_merchantid</variable>
		<name>{$lang->merchant_id}</name>
	</settings>
	<settings>
		<variable>fondy_secret</variable>
		<name>{$lang->secret_key}</name>
	</settings>
    <settings>
		<variable>fondy_paymode</variable>
		<name>{$lang->deferred_payment}</name>
	</settings>
	<settings>
		<variable>fondy_lang</variable>
		<name>{$lang->window_language}</name>
	</settings>
</module>