@font-face {
	font-family: Inter;
	font-style: normal;
	font-weight: 300;
	src: url(../../fonts/inter/inter-v8-latin_cyrillic-ext-300.eot);
	src: local(""), url(../../fonts/inter/inter-v8-latin_cyrillic-ext-300.eot?#iefix) format("embedded-opentype"), url(../../fonts/inter/inter-v8-latin_cyrillic-ext-300.woff2) format("woff2"), url(../../fonts/inter/inter-v8-latin_cyrillic-ext-300.woff) format("woff"),
		url(../../fonts/inter/inter-v8-latin_cyrillic-ext-300.ttf) format("truetype"), url(../../fonts/inter/inter-v8-latin_cyrillic-ext-300.svg#Inter) format("svg");
}

@font-face {
	font-family: Inter;
	font-style: normal;
	font-weight: 400;
	src: url(../../fonts/inter/inter-v8-latin_cyrillic-ext-regular.eot);
	src: local(""), url(../../fonts/inter/inter-v8-latin_cyrillic-ext-regular.eot?#iefix) format("embedded-opentype"), url(../../fonts/inter/inter-v8-latin_cyrillic-ext-regular.woff2) format("woff2"),
		url(../../fonts/inter/inter-v8-latin_cyrillic-ext-regular.woff) format("woff"), url(../../fonts/inter/inter-v8-latin_cyrillic-ext-regular.ttf) format("truetype"), url(../../fonts/inter/inter-v8-latin_cyrillic-ext-regular.svg#Inter) format("svg");
}

@font-face {
	font-family: Inter;
	font-style: normal;
	font-weight: 500;
	src: url(../../fonts/inter/inter-v8-latin_cyrillic-ext-500.eot);
	src: local(""), url(../../fonts/inter/inter-v8-latin_cyrillic-ext-500.eot?#iefix) format("embedded-opentype"), url(../../fonts/inter/inter-v8-latin_cyrillic-ext-500.woff2) format("woff2"), url(../../fonts/inter/inter-v8-latin_cyrillic-ext-500.woff) format("woff"),
		url(../../fonts/inter/inter-v8-latin_cyrillic-ext-500.ttf) format("truetype"), url(../../fonts/inter/inter-v8-latin_cyrillic-ext-500.svg#Inter) format("svg");
}

@font-face {
	font-family: Inter;
	font-style: normal;
	font-weight: 600;
	src: url(../../fonts/inter/inter-v8-latin_cyrillic-ext-600.eot);
	src: local(""), url(../../fonts/inter/inter-v8-latin_cyrillic-ext-600.eot?#iefix) format("embedded-opentype"), url(../../fonts/inter/inter-v8-latin_cyrillic-ext-600.woff2) format("woff2"), url(../../fonts/inter/inter-v8-latin_cyrillic-ext-600.woff) format("woff"),
		url(../../fonts/inter/inter-v8-latin_cyrillic-ext-600.ttf) format("truetype"), url(../../fonts/inter/inter-v8-latin_cyrillic-ext-600.svg#Inter) format("svg");
}

@font-face {
	font-family: Inter;
	font-style: normal;
	font-weight: 700;
	src: url(../../fonts/inter/inter-v8-latin_cyrillic-ext-700.eot);
	src: local(""), url(../../fonts/inter/inter-v8-latin_cyrillic-ext-700.eot?#iefix) format("embedded-opentype"), url(../../fonts/inter/inter-v8-latin_cyrillic-ext-700.woff2) format("woff2"), url(../../fonts/inter/inter-v8-latin_cyrillic-ext-700.woff) format("woff"),
		url(../../fonts/inter/inter-v8-latin_cyrillic-ext-700.ttf) format("truetype"), url(../../fonts/inter/inter-v8-latin_cyrillic-ext-700.svg#Inter) format("svg");
}