.brands-list {
	margin-bottom: 30px;
}

.filter-letters {
	margin-bottom: 32px;
}

.js-brands {
	position: relative;
}

.brand__wrapper,
.skeleton-brand-row.bordered {
	margin-bottom: -1px;
}

.brand__wrapper.bordered,
.skeleton-brand-row.bordered {
	border-left-width: 0px;
	border-right-width: 0px;
}

.brand__item,
.skeleton-brand-row {
	padding: 18px 0px;
}

.brand__item-letter {
	font-size: 1.6em;
	font-weight: 500;
	color: var(--white_text_black);

	flex-basis: 100%;
}

.brand__list {
	--repeat: 2;
	display: grid;
	grid-template-columns: repeat(var(--repeat), 1fr);
	gap: 8px 15px;
}

.brand__list-item {
	min-width: 0px;
	text-overflow: ellipsis;
	overflow: hidden;
}

@media (max-width: 600px) {
	.filter-letters .mobile-scrolled {
		flex-direction: row;
		grid-gap: 8px;
		padding-right: var(--theme-page-width-padding) !important;
	}

	#main .filter-letters .mobile-scrolled>div {
		width: auto;
		padding-right: 0px !important;
	}
}

@media (min-width: 600px) {
	.brands-list {
		margin-bottom: 56px;
	}

	.brand__item,
	.skeleton-brand-row {
		padding: 38px 0px;
	}

	.brand__item-letter {
		width: 11%;
		margin-top: 5px;

		flex-basis: auto;
	}
}

@media (min-width: 768px) {
	.brand__list {
		--repeat: 3;
	}
}

@media (min-width: 992px) {
	.brand__list {
		--repeat: 4;
	}
}

.skeleton-grid {
	--gap: 30px;
	display: grid;
	gap: var(--gap);
}

.skeleton-grid--row {
	--repeat-row: 1;
	grid-template-rows: repeat(var(--repeat-row), 1fr);
}

.skeleton-grid--column {
	--repeat-column: 1;
	grid-template-columns: repeat(var(--repeat-column), 1fr);
}

.skeleton {
	--color-start: var(--light, #ececec) var(--dark, #3a3a3a);
	--color-end: var(--light, #f5f5f5) var(--dark, #2b2b2b);

	background: #eee;
	background: linear-gradient(110deg, var(--color-start) 8%, var(--color-end) 18%, var(--color-start) 33%);
	background-size: 200% 100%;
	animation: 1.5s shine linear infinite;
}

@keyframes shine {
	to {
		background-position-x: -200%;
	}
}