.reviews-info {
	padding: 36px 22px 32px 32px;
	background: var(--lite_bg_black);
	box-sizing: border-box;
	margin-bottom: 40px;
}

.reviews-info__line,
.reviews-info__col {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.reviews-info__text {
	margin-top: -6px;
	margin-right: 40px;
}

.reviews-info__text p:last-child {
	margin-bottom: 0;
}

.reviews-info__btn-wrapper--singleton {
	margin: 0;
	padding: 0;
}

@media (max-width: 1200px) {
	.right_block.narrow_Y .reviews-info__line {
		flex-wrap: wrap;
	}

	.right_block.narrow_Y .reviews-info__btn-wrapper {
		margin-right: 0;
		margin-top: 20px;
		text-align: left;
	}

	.right_block.narrow_Y .reviews-info__btn-wrapper--singleton {
		margin: 0;
		padding: 0;
	}

	.reviews-info__text {
		margin-right: 0;
	}
}

@media (max-width: 600px) {

	.reviews-info__col,
	.reviews-info__line {
		flex-direction: column;
	}
}

@media all and (max-width: 360px) {
	.reviews-info {
		padding: 17px;
	}
}

.rating-container {
	display: flex;
	justify-content: center;
	margin-bottom: 1rem;
	margin-right: 40px;
}