a.admin_bookmark {
    left: 0.5rem;
    display: block;
    position: fixed;
    top: 250px;
    width: 40px;
    height: 40px;
    padding-top: 8px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    line-height: 1;
    text-decoration: none!important;
    z-index: 1029;
    cursor: pointer;
    border: 1px solid #e7e7e7 !important;
    background-color: #fff !important;
}

.custom-icon-palette-settings {
    height: 24px;
    max-height: 24px;
    min-height: 24px;
    width: 24px;
    top: -1px !important;
}

a.admin_bookmark i {
    -webkit-transition: all 4s ease;
    -ms-transition: all 4s ease;
    transition: all 4s ease;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}

a.admin_bookmark:hover i {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

[class*="custom-icon"] {
    background-color: transparent;
    background-image: url("../i/settings.svg");
    background-repeat: no-repeat;
    border: medium none;
    display: inline-block;
    position: relative;
    transition: all 0s ease 0s;
}

.tooltips a {
    display: block;
    color: #495057;
	font-size: 13px;
    padding: 5px 5px 5px 25px;
	vertical-align: middle;
    background-position: left center;
    background-repeat: no-repeat;
}

.tooltips a:hover {
    background-color: #f4f7f9;
}

a.admin_tooltip_edit {
   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='%23495057' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-edit-2'%3E%3Cpath d='M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z'%3E%3C/path%3E%3C/svg%3E");
}

a.admin_tooltip_add {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='%23495057' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-file-plus'%3E%3Cpath d='M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z'%3E%3C/path%3E%3Cpolyline points='14 2 14 8 20 8'%3E%3C/polyline%3E%3Cline x1='12' y1='18' x2='12' y2='12'%3E%3C/line%3E%3Cline x1='9' y1='15' x2='15' y2='15'%3E%3C/line%3E%3C/svg%3E");
}

.tooltips {
    width: 187px;
    top: 0px;
    left: 0px;
    padding: 0;
    margin: 0;
    display: none;
    position: absolute;
    z-index: 64999;
    filter: Alpha(Opacity='85');
    -moz-opacity: 0.85;
    opacity: 0.85;
}

.tooltipHeader {
    width: 187px;
    height: 19px;
    padding: 0;
    margin: 0;
    font-size: 0;
    line-height: 0;
    background-repeat: no-repeat;
    display: block;
}

.tooltipHeaderDirect {
	content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background: #fff;
    transform: rotate(45deg);
    top: -5px;
    right: 165px;
    border-left: 1px solid rgba(0, 0, 0, 0.15);
    border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.tooltipHeaderFlip {
	content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background: #fff;
    transform: rotate(45deg);
    top: -5px;
    right: 15px;
    border-left: 1px solid rgba(0, 0, 0, 0.15);
    border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.tooltipFooter {
    width: 187px;
    height: 3px;
    padding: 0;
    margin: 0;
    font-size: 0;
    line-height: 0;
    background-repeat: no-repeat;
    display: block;
}

.tooltipBody {
    padding: 10px;
    color: #495057;
    background-color: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.15);
	box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.05);
	border-radius: 0.2rem;
    width: 187px;
    margin: 0;
    font: normal normal 12px/14px Verdana, Arial, serif;
    line-height: 140%;
    background-repeat: repeat-y;
    display: block;
}