/* Product gallery */

.product .carousel {
	min-height: 320px;
}

.carousel-inner .carousel-item>a:hover .icon-focus {
	opacity: 1;
}

.carousel-inner .carousel-item>a::before {
	background: rgba(var(--bs-emphasis-color-rgb), 0.075);
	content: "";
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	transition: opacity 0.2s ease-in-out 0s;
	width: 100%;
	border-radius: 0.375rem;
}

.carousel-inner .carousel-item>a:hover::before {
	opacity: 0.9;
}

.carousel-inner .image {
	line-height: 100%;
}

.icon-focus {
	color: #fff;
	font-size: 3rem;
	left: calc(50% - 24px);
	opacity: 0;
	position: absolute;
	top: calc(50% - 32px);
	transition: opacity 0.2s ease-in-out 0s;
	z-index: 5;
}

/* Product gallery thumblist */

.product-gallery-thumblist {
	display: flex;
	flex-wrap: wrap;
	justify-content: start;
	margin-left: -10px;
}

.product-gallery-thumblist-item {
	margin: 0.3125rem;
}

.product-gallery-thumblist-item {
	display: block;
	position: relative;
	width: 5rem;
	height: 5rem;
	margin: 0.625rem;
	transition: border-color 0.2s ease-in-out;
	border-radius: 0.3125rem;
	text-decoration: none !important;
	overflow: hidden;
	text-align: center !important;
}

.product-gallery-thumblist-item>img {
	max-height: 70px;
	min-height: 70px;
	padding: 5px;
	transition: opacity 0.2s ease-in-out;
	opacity: 0.6;
}

.product-gallery-thumblist-item.selected {
	border-color: #0d6efd;
}

.product-gallery-thumblist-item.selected>img,
.product-gallery-thumblist-item:hover img {
	opacity: 1;
}

/* Badges */

.icons {
	position: absolute !important;
	line-height: normal;
	margin: 5px 0 0 10px;
	width: 74px;
	z-index: 1;
}

.icons .badge {
	margin: 5px 0 0 0;
}

/* Product details */

@media (min-width: 992px) {
	.product-details {
		width: 100%;
		max-width: 26rem;
		padding-top: 0.25rem;
	}
}

/* Variants */

.variants label input {
	display: none;
}

.color-product .btn {
	border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color-translucent);
}

.color-product .btn.active {
	border: 1px solid var(--bs-primary);
	box-shadow: 0 0 0 0.2rem rgba(49, 132, 253, 0.25);
}

.color-product .btn:hover {
	border: 1px solid var(--bs-primary);
	box-shadow: 0 0 0 0.2rem rgba(49, 132, 253, 0.25);
}

.color-product .btn:focus {
	box-shadow: 0 0 0 0.2rem rgba(49, 132, 253, 0.25);
	border: 1px solid var(--bs-primary);
}

.btn span.fa-check {
	opacity: 0;
}

.btn.active span.fa-check {
	opacity: 1;
	color: #fff;
}

.btn.white.active span.fa-check {
	opacity: 1;
	color: #000;
}

.variants-size .btn {
	min-width: 33px;
}

.btn-check+.btn:hover {
	border-color: var(--bs-secondary);
	background-color: var(--bs-secondary);
	color: #fff;
}