.autocomplete-suggestions { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border: 1px solid #dfe2e5; background: #FFF; cursor: default; overflow: auto; -webkit-box-shadow: box-shadow: 0 0.125rem 0.25rem rgba(43, 55, 72, 0.15); -moz-box-shadow: box-shadow: 0 0.125rem 0.25rem rgba(43, 55, 72, 0.15); box-shadow: box-shadow: 0 0.125rem 0.25rem rgba(43, 55, 72, 0.15); }
.autocomplete-suggestion { padding: 5px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-no-suggestion { padding: 5px 5px;}
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: bold; color: #000; }
.autocomplete-group { padding: 5px 5px; }
.autocomplete-group strong { font-weight: bold; font-size: 16px; color: #000; display: block; border-bottom: 1px solid #000; }
