.xpopover {
	position: fixed;
	z-index: 3000;
	display: block;
	opacity: 0;
	visibility: hidden;
	background: #fff;
	background: var(--dff_dark_light);
	width: min(100%, 315px);
	transition: opacity .3s ease-in-out;
	border: 1px solid #ededed;
	border-color: var(--stroke_black);
	box-shadow: 0px 5px 30px rgb(34 34 34 / 10%);
	border-radius: 12px;
	border-radius: var(--theme-outer-border-radius);
	max-height: 100vh;
}

.xpopover.clone {
	visibility: hidden !important;
	opacity: 0 !important;
	transition: none !important;
}

.xpopover.show {
	display: block;
	opacity: 1;
	visibility: visible;
	transition: opacity .3s ease-in-out, left .2s linear, top .2s linear;
}

.xpopover>.scrollbar {
	max-height: calc(100vh - 20px);
	display: block;
	height: 100%;
}

.xpopover .xpopover-content {
	color: #222;
	color: var(--white_text_black);
	font-size: 1rem;
	line-height: calc(1em + 10px);
	word-break: break-word;
	padding: 20px 16px;
}

.xpopover .xpopover-drag {
	width: 40px;
	height: 4px;
	background-color: #dadada;
	background-color: var(--light, #dadada) var(--dark, var(--stroke_black));
	position: absolute;
	top: 8px;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 10px;
	cursor: pointer;
	display: none;
}

.xpopover-overlay {
	background: #3a3f44;
	opacity: 0.7 !important;
	height: 100%;
	width: 100%;
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: 3000;
	display: none;
}

@media (max-width: 380px) or ((max-width: 760px) and (min-resolution: 2dppx)) {
	.xpopover {
		max-width: 100%;
		width: 100%;
		right: 0 !important;
		left: 0 !important;
		bottom: 0 !important;
		top: initial !important;
		border: none !important;
		transform: translate(0, 100%) !important;
		min-height: min(204px, 100vh);
		transition: opacity .3s ease-in-out, transform .3s ease-in-out !important;
		border-radius: 12px 12px 0 0;
		border-radius: var(--theme-outer-border-radius) var(--theme-outer-border-radius) 0 0;
	}

	.xpopover.show {
		transform: translate(0, 0) !important;
	}

	.xpopover .xpopover-drag {
		display: block;
	}

	.xpopover>.scrollbar {
		margin-top: 20px;
	}

	.xpopover .xpopover-content {
		padding: 20px 40px 40px;
	}

	.xpopover .xpopover-content--mobile-center {
		text-align: center;
	}

	.xpopover-overlay {
		display: block;
	}
}