<?xml version="1.0" encoding="UTF-8"?>
<module>
	<group>
		<name>{$lang->general_settings}</name>
		<settings>
			<variable>theme_color</variable>
			<name>{$lang->theme_color}</name>
			<options>
				<name>{$lang->default}</name>
				<value>theme_default</value>
			</options>
			<options>
				<name>{$lang->theme_light}</name>
				<value>theme_light</value>
			</options>
			<options>
				<name>{$lang->theme_dark}</name>
				<value>theme_dark</value>
			</options>
		</settings>
		<settings>
			<variable>colors</variable>
			<name>{$lang->colors}</name>
			<options>
				<name>{$lang->color_1}</name> 
				<value>#dc2f2f</value>
			</options>
			<options>
				<name>{$lang->color_2}</name>
				<value>#f35c50</value>
			</options>
			<options>
				<name>{$lang->color_3}</name>
				<value>#f2722c</value>
			</options>
			<options>
				<name>{$lang->color_4}</name>
				<value>#fd9c12</value>
			</options>
			<options>
				<name>{$lang->color_5}</name>
				<value>#ffb400</value>
			</options>
			<options>
				<name>{$lang->color_6}</name>
				<value>#83b81d</value>
			</options>
			<options>
				<name>{$lang->color_7}</name>
				<value>#08a826</value>
			</options>
			<options>
				<name>{$lang->color_8}</name>
				<value>#0aa360</value>
			</options>
			<options>
				<name>{$lang->color_9}</name>
				<value>#00aea0</value>
			</options>
			<options>
				<name>{$lang->color_10}</name>
				<value>#12b2e7</value>
			</options>
			<options>
				<name>{$lang->color_11}</name>
				<value>#2196e0</value>
			</options>
			<options>
				<name>{$lang->color_12}</name>
				<value>#257de3</value>
			</options>
			<options>
				<name>{$lang->color_13}</name>
				<value>#365edc</value>
			</options>
			<options>
				<name>{$lang->color_14}</name>
				<value>#5555dc</value>
			</options>
			<options>
				<name>{$lang->color_15}</name>
				<value>#7a4cd9</value>
			</options>
			<options>
				<name>{$lang->color_16}</name>
				<value>#a447bf</value>
			</options>
			<options>
				<name>{$lang->color_17}</name>
				<value>#da3b64</value>
			</options>
			<options>
				<name>{$lang->color_18}</name>
				<value>#d2334d</value>
			</options>
		</settings>
		<settings>
			<variable>custom_color</variable>
			<name>{$lang->custom_color}</name>
		</settings>
		<settings>
			<variable>user_color</variable>
			<name>{$lang->custom_color}</name>
			<options>
				<name>{$lang->custom_color}</name>
				<value>1</value>
			</options>
		</settings>
		<settings>
			<variable>more_colors_on</variable>
			<name>{$lang->more_colors}</name>
			<options>
				<name>{$lang->more_colors}</name>
				<value>1</value>
			</options>
		</settings>
		<settings>
			<variable>more_colors</variable>
			<name>{$lang->more_colors}</name>
			<options>
				<name>{$lang->color_1}</name> 
				<value>#dc2f2f</value>
			</options>
			<options>
				<name>{$lang->color_2}</name>
				<value>#f35c50</value>
			</options>
			<options>
				<name>{$lang->color_3}</name>
				<value>#f2722c</value>
			</options>
			<options>
				<name>{$lang->color_4}</name>
				<value>#fd9c12</value>
			</options>
			<options>
				<name>{$lang->color_5}</name>
				<value>#ffb400</value>
			</options>
			<options>
				<name>{$lang->color_6}</name>
				<value>#83b81d</value>
			</options>
			<options>
				<name>{$lang->color_7}</name>
				<value>#08a826</value>
			</options>
			<options>
				<name>{$lang->color_8}</name>
				<value>#0aa360</value>
			</options>
			<options>
				<name>{$lang->color_9}</name>
				<value>#00aea0</value>
			</options>
			<options>
				<name>{$lang->color_10}</name>
				<value>#12b2e7</value>
			</options>
			<options>
				<name>{$lang->color_11}</name>
				<value>#2196e0</value>
			</options>
			<options>
				<name>{$lang->color_12}</name>
				<value>#257de3</value>
			</options>
			<options>
				<name>{$lang->color_13}</name>
				<value>#365edc</value>
			</options>
			<options>
				<name>{$lang->color_14}</name>
				<value>#5555dc</value>
			</options>
			<options>
				<name>{$lang->color_15}</name>
				<value>#7a4cd9</value>
			</options>
			<options>
				<name>{$lang->color_16}</name>
				<value>#a447bf</value>
			</options>
			<options>
				<name>{$lang->color_17}</name>
				<value>#da3b64</value>
			</options>
			<options>
				<name>{$lang->color_18}</name>
				<value>#d2334d</value>
			</options>
		</settings>
		<settings>
			<variable>more_custom_color</variable>
			<name>{$lang->more_custom_color}</name>
		</settings>
		<settings>
			<variable>more_user_color</variable>
			<name>{$lang->more_custom_color}</name>
			<options>
				<name>{$lang->more_custom_color}</name>
				<value>1</value>
			</options>
		</settings>
		<settings>
			<variable>site_width</variable>
			<name>{$lang->site_width}</name>
			<options>
				<name>1 500 px</name>
				<value>1500px</value>
			</options>
			<options>
				<name>1 348 px</name>
				<value>1348px</value>
			</options>
		</settings>
		<settings>
			<variable>font_family</variable>
			<name>{$lang->font_family}</name>
			<options>
				<name>Inter</name>
				<value>Inter</value>
			</options>
			<options>
				<name>Manrope</name>
				<value>Manrope</value>
			</options>
			<options>
				<name>Nunito Sans</name>
				<value>Nunito Sans</value>
			</options>
		</settings>
		<settings>
			<variable>font_size</variable>
			<name>{$lang->font_size}</name>
			<options>
				<name>16 px</name>
				<value>16px</value>
			</options>
			<options>
				<name>17 px</name>
				<value>17px</value>
			</options>
			<options>
				<name>18 px</name>
				<value>18px</value>
			</options>
		</settings>
		<settings>
			<variable>border_radius</variable>
			<name>{$lang->border_radius}</name>
			<options>
				<name>8 px</name>
				<value>8px</value>
			</options>
			<options>
				<name>12 px</name>
				<value>12px</value>
			</options>
			<options>
				<name>16 px</name>
				<value>16px</value>
			</options>
		</settings>
		<settings>
			<variable>title_weight</variable>
			<name>{$lang->title_weight}</name>
			<options>
				<name>Bold</name>
				<value>600</value>
			</options>
			<options>
				<name>Medium</name>
				<value>500</value>
			</options>
			<options>
				<name>Normal</name>
				<value>400</value>
			</options>
		</settings>
		<settings>
			<variable>phone_1</variable>
			<name>{$lang->phone_1}</name>
		</settings>
		<settings>
			<variable>phone_2</variable>
			<name>{$lang->phone_2}</name>
		</settings>
		<settings>
			<variable>phone_3</variable>
			<name>{$lang->phone_3}</name>
		</settings>
		<settings>
			<variable>phone_mask</variable>
			<name>{$lang->phone_mask}</name>
		</settings>
		<settings>
			<variable>email</variable>
			<name>{$lang->email}</name>
		</settings>
		<settings>
			<variable>map</variable>
			<name>{$lang->map}</name>
		</settings>
		<settings>
			<variable>twitterx</variable>
			<name>Twitter (X)</name>
		</settings>
		<settings>
			<variable>telegram</variable>
			<name>Telegram</name>
		</settings>
		<settings>
			<variable>youtube</variable>
			<name>YouTube</name>
		</settings>
		<settings>
			<variable>tiktok</variable>
			<name>TikTok</name>
		</settings>
		<settings>
			<variable>whatsapp</variable>
			<name>Whats App</name>
		</settings>
		<settings>
			<variable>viber</variable>
			<name>Viber</name>
		</settings>
		<settings>
			<variable>instagram</variable>
			<name>Instagram</name>
		</settings>
		<settings>
			<variable>facebook</variable>
			<name>Facebook</name>
		</settings>
		<settings>
			<variable>linkedin</variable>
			<name>LinkedIn</name>
		</settings>
	</group>
	<group>
		<name>{$lang->header}</name>
		<settings>
			<variable>header_type</variable>
			<name>{$lang->header_type}</name>
			<options>
				<name>{$lang->header_type_1}</name>
				<value>1</value>
			</options>
			<options>
				<name>{$lang->header_type_2}</name>
				<value>2</value>
			</options>
		</settings>
		<settings>
			<variable>landing_pages_header</variable>
			<name>{$lang->landing_pages}</name>
			<options>
				<name>{$lang->landing_pages}</name>
				<value>1</value>
			</options>
		</settings>
		<settings>
			<variable>content_width</variable>
			<name>{$lang->content_width}</name>
			<options>
				<name>{$lang->content_width}</name>
				<value>1</value>
			</options>
		</settings>
		<settings>
			<variable>header_padding_top</variable>
			<name>{$lang->padding_top}</name>
			<options>
				<name>{$lang->padding_top}</name>
				<value>1</value>
			</options>
		</settings>
	</group>
	<group>
		<name>{$lang->menu_header}</name>
		<settings>
			<variable>categories_header_type</variable>
			<name>{$lang->categories_header_type}</name>
			<options>
				<name>{$lang->categories_header_type_1}</name>
				<value>1</value>
			</options>
			<options>
				<name>{$lang->categories_header_type_2}</name>
				<value>2</value>
			</options>
		</settings>
		<settings>
			<variable>categories_header_position</variable>
			<name>{$lang->teasers_position}</name>
			<options>
				<name>{$lang->position_type_1}</name>
				<value>1</value>
			</options>
			<options>
				<name>{$lang->position_type_2}</name>
				<value>2</value>
			</options>
		</settings>
		<settings>
			<variable>categories_header_images_type</variable>
			<name>{$lang->images_type}</name>
			<options>
				<name>{$lang->images_type_1}</name>
				<value>1</value>
			</options>
			<options>
				<name>{$lang->images_type_2}</name>
				<value>2</value>
			</options>
			<options>
				<name>{$lang->images_type_3}</name>
				<value>3</value>
			</options>
		</settings>
		<settings>
			<variable>menu_header_id</variable>
			<name>{$lang->menu_header_id}</name>
		</settings>
		<settings>
			<variable>landing_pages_header_id</variable>
			<name>{$lang->landing_pages_id}</name>
		</settings>
		<settings>
			<variable>header_banners_id</variable>
			<name>{$lang->grup_id}</name>
		</settings>
	</group>
	<group type="sort">
        <name>{$lang->main_page}</name>
        <settings>
            <variable>block_1</variable>
			<visible>visible_1</visible>
            <name>{$lang->big_banners}</name>
            <options>
                <name>{$lang->big_banners}</name>
                <value>1</value>
            </options>
        </settings>
        <settings>
            <variable>block_2</variable>
			<visible>visible_2</visible>
            <name>{$lang->catalog_sections}</name>
            <options>
                <name>{$lang->catalog_sections}</name>
                <value>2</value>
            </options>
        </settings>
        <settings>
            <variable>block_3</variable>
			<visible>visible_3</visible>
            <name>{$lang->products_tab}</name>
            <options>
                <name>{$lang->products_tab}</name>
                <value>3</value>
            </options>
        </settings>
        <settings>
            <variable>block_4</variable>
			<visible>visible_4</visible>
            <name>{$lang->brands}</name>
            <options>
                <name>{$lang->brands}</name>
                <value>4</value>
            </options>
        </settings>
        <settings>
            <variable>block_5</variable>
			<visible>visible_5</visible>
            <name>{$lang->banners_text}</name>
            <options>
                <name>{$lang->banners_text}</name>
                <value>5</value>
            </options>
        </settings>
		<settings>
            <variable>block_6</variable>
			<visible>visible_6</visible>
            <name>{$lang->teasers}</name>
            <options>
                <name>{$lang->teasers}</name>
                <value>6</value>
            </options>
        </settings>
		<settings>
            <variable>block_7</variable>
			<visible>visible_7</visible>
            <name>{$lang->bottom_banners}</name>
            <options>
                <name>{$lang->bottom_banners}</name>
                <value>7</value>
            </options>
        </settings>
		<settings>
            <variable>block_8</variable>
			<visible>visible_8</visible>
            <name>{$lang->custom_products}</name>
            <options>
                <name>{$lang->custom_products}</name>
                <value>8</value>
            </options>
        </settings>
		<settings>
            <variable>block_9</variable>
			<visible>visible_9</visible>
            <name>{$lang->company_text}</name>
            <options>
                <name>{$lang->company_text}</name>
                <value>9</value>
            </options>
        </settings>
		<settings>
            <variable>block_10</variable>
			<visible>visible_10</visible>
            <name>{$lang->blog}</name>
            <options>
                <name>{$lang->blog}</name>
                <value>10</value>
            </options>
        </settings>
		<settings>
            <variable>block_11</variable>
			<visible>visible_11</visible>
            <name>{$lang->articles}</name>
            <options>
                <name>{$lang->articles}</name>
                <value>11</value>
            </options>
        </settings>
    </group>
	<group>
		<name>{$lang->big_banners}</name>
		<settings>
			<variable>big_banners_type</variable>
			<name>{$lang->big_banners_type}</name>
			<options>
				<name>{$lang->big_banners_type_1}</name>
				<value>1</value>
			</options>
			<options>
				<name>{$lang->big_banners_type_2}</name>
				<value>2</value>
			</options>
		</settings>
		<settings>
			<variable>banners_height</variable>
			<name>{$lang->banners_height}</name>
			<options>
				<name>{$lang->banners_height_type_1}</name>
				<value>1</value>
			</options>
			<options>
				<name>{$lang->banners_height_type_2}</name>
				<value>2</value>
			</options>
			<options>
				<name>{$lang->banners_height_type_3}</name>
				<value>3</value>
			</options>
		</settings>
		<settings>
			<variable>wide_text</variable>
			<name>{$lang->wide_text}</name>
			<options>
				<name>{$lang->wide_text}</name>
				<value>1</value>
			</options>
		</settings>
		<settings>
			<variable>banners_adaptive_type</variable>
			<name>{$lang->banners_adaptive_type}</name>
			<options>
				<name>{$lang->banners_adaptive_type_1}</name>
				<value>1</value>
			</options>
			<options>
				<name>{$lang->banners_adaptive_type_2}</name>
				<value>2</value>
			</options>
		</settings>
		<settings>
			<variable>banners_slides_show_speed</variable>
			<name>{$lang->banners_slides_show_speed}</name>
		</settings>
		<settings>
			<variable>banners_animation_speed</variable>
			<name>{$lang->banners_animation_speed}</name>
		</settings>
		<settings>
			<variable>big_banners_id</variable>
			<name>{$lang->grup_id}</name>
		</settings>
	</group>
	<group>
		<name>{$lang->catalog_sections}</name>
		<settings>
			<variable>catalog_main_sections_type</variable>
			<name>{$lang->catalog_sections_type}</name>
			<options>
				<name>{$lang->сompact_type}</name>
				<value>1</value>
			</options>
			<options>
				<name>{$lang->grid_type}</name>
				<value>2</value>
			</options>
			<options>
				<name>{$lang->carousel_type}</name>
				<value>3</value>
			</options>
		</settings>
		<settings>
			<variable>catalog_main_grid_column</variable>
			<name>{$lang->grid_column}</name>
			<options>
				<name>4</name>
				<value>4</value>
			</options>
			<options>
				<name>5</name>
				<value>5</value>
			</options>
			<options>
				<name>6</name>
				<value>6</value>
			</options>
			<options>
				<name>8</name>
				<value>8</value>
			</options>
		</settings>
		<settings>
			<variable>catalog_main_bordered</variable>
			<name>{$lang->bordered}</name>
			<options>
				<name>{$lang->bordered}</name>
				<value>1</value>
			</options>
		</settings>
		<settings>
			<variable>catalog_main_title</variable>
			<name>{$lang->title}</name>
			<options>
				<name>{$lang->title}</name>
				<value>1</value>
			</options>
		</settings>
		<settings>
			<variable>catalog_main_delimiter</variable>
			<name>{$lang->delimiter}</name>
			<options>
				<name>{$lang->delimiter}</name>
				<value>1</value>
			</options>
		</settings>
		<settings>
			<variable>catalog_main_background</variable>
			<name>{$lang->background}</name>
			<options>
				<name>{$lang->background}</name>
				<value>1</value>
			</options>
		</settings>
		<settings>
			<variable>catalog_main_images_type</variable>
			<name>{$lang->images_type}</name>
			<options>
				<name>{$lang->images_type_1}</name>
				<value>1</value>
			</options>
			<options>
				<name>{$lang->images_type_2}</name>
				<value>2</value>
			</options>
		</settings>
		<settings>
			<variable>catalog_main_images_bg</variable>
			<name>{$lang->catalog_images_bg}</name>
			<options>
				<name>{$lang->catalog_images_bg}</name>
				<value>1</value>
			</options>
		</settings>
		<settings>
			<variable>catalog_main_padding_top</variable>
			<name>{$lang->padding_top}</name>
			<options>
				<name>0</name>
				<value>0</value>
			</options>
			<options>
				<name>40</name>
				<value>40</value>
			</options>
			<options>
				<name>80</name>
				<value>80</value>
			</options>
			<options>
				<name>130</name>
				<value>130</value>
			</options>
		</settings>
		<settings>
			<variable>catalog_main_padding_bottom</variable>
			<name>{$lang->padding_bottom}</name>
			<options>
				<name>0</name>
				<value>0</value>
			</options>
			<options>
				<name>40</name>
				<value>40</value>
			</options>
			<options>
				<name>80</name>
				<value>80</value>
			</options>
			<options>
				<name>130</name>
				<value>130</value>
			</options>
		</settings>
	</group>
	<group>
		<name>{$lang->products_tab}</name>
		<settings>
			<variable>products_tab_grid_column</variable>
			<name>{$lang->grid_column}</name>
			<options>
				<name>4</name>
				<value>4</value>
			</options>
			<options>
				<name>5</name>
				<value>5</value>
			</options>
		</settings>
		<settings>
			<variable>products_tab_products_limit</variable>
			<name>{$lang->products_limit}</name>
		</settings>
		<settings>
			<variable>products_tab_bordered</variable>
			<name>{$lang->bordered}</name>
			<options>
				<name>{$lang->bordered}</name>
				<value>1</value>
			</options>
		</settings>
		<settings>
			<variable>products_tab_title</variable>
			<name>{$lang->title}</name>
			<options>
				<name>{$lang->title}</name>
				<value>1</value>
			</options>
		</settings>
		<settings>
			<variable>products_tab_delimiter</variable>
			<name>{$lang->delimiter}</name>
			<options>
				<name>{$lang->delimiter}</name>
				<value>1</value>
			</options>
		</settings>
		<settings>
			<variable>products_tab_background</variable>
			<name>{$lang->background}</name>
			<options>
				<name>{$lang->background}</name>
				<value>1</value>
			</options>
		</settings>
		<settings>
			<variable>products_tab_padding_top</variable>
			<name>{$lang->padding_top}</name>
			<options>
				<name>0</name>
				<value>0</value>
			</options>
			<options>
				<name>40</name>
				<value>40</value>
			</options>
			<options>
				<name>80</name>
				<value>80</value>
			</options>
			<options>
				<name>130</name>
				<value>130</value>
			</options>
		</settings>
		<settings>
			<variable>products_tab_padding_bottom</variable>
			<name>{$lang->padding_bottom}</name>
			<options>
				<name>0</name>
				<value>0</value>
			</options>
			<options>
				<name>40</name>
				<value>40</value>
			</options>
			<options>
				<name>80</name>
				<value>80</value> 
			</options>
			<options>
				<name>130</name>
				<value>130</value>
			</options>
		</settings>
	</group>
	<group>
		<name>{$lang->brands_main}</name>
		<settings>
			<variable>brands_main_type</variable>
			<name>{$lang->brands_main_type}</name>
			<options>
				<name>{$lang->brands_main_type_1}</name>
				<value>1</value>
			</options>
			<options>
				<name>{$lang->brands_main_type_2}</name>
				<value>2</value>
			</options>
		</settings>
		<settings>
			<variable>brands_main_limit</variable>
			<name>{$lang->brands_main_limit}</name>
		</settings>
		<settings>
			<variable>brands_main_bordered</variable>
			<name>{$lang->bordered}</name>
			<options>
				<name>{$lang->bordered}</name>
				<value>1</value>
			</options>
		</settings>
		<settings>
			<variable>brands_main_title</variable>
			<name>{$lang->title}</name>
			<options>
				<name>{$lang->title}</name>
				<value>1</value>
			</options>
		</settings>
		<settings>
			<variable>brands_main_delimiter</variable>
			<name>{$lang->delimiter}</name>
			<options>
				<name>{$lang->delimiter}</name>
				<value>1</value>
			</options>
		</settings>
		<settings>
			<variable>brands_main_background</variable>
			<name>{$lang->background}</name>
			<options>
				<name>{$lang->background}</name>
				<value>1</value>
			</options>
		</settings>
		<settings>
			<variable>brands_main_padding_top</variable>
			<name>{$lang->padding_top}</name>
			<options>
				<name>0</name>
				<value>0</value>
			</options>
			<options>
				<name>40</name>
				<value>40</value>
			</options>
			<options>
				<name>80</name>
				<value>80</value>
			</options>
			<options>
				<name>130</name>
				<value>130</value>
			</options>
		</settings>
		<settings>
			<variable>brands_main_padding_bottom</variable>
			<name>{$lang->padding_bottom}</name>
			<options>
				<name>0</name>
				<value>0</value>
			</options>
			<options>
				<name>40</name>
				<value>40</value>
			</options>
			<options>
				<name>80</name>
				<value>80</value>
			</options>
			<options>
				<name>130</name>
				<value>130</value>
			</options>
		</settings>
	</group>
	<group>
		<name>{$lang->banners_text}</name>
		<settings>
			<variable>banners_text_grid_type</variable>
			<name>{$lang->grid_column}</name>
			<options>
				<name>2</name>
				<value>2</value>
			</options>
			<options>
				<name>3</name>
				<value>3</value>
			</options>
			<options>
				<name>4</name>
				<value>4</value>
			</options>
		</settings>
		<settings>
			<variable>banners_text_position</variable>
			<name>{$lang->banners_text_position}</name>
			<options>
				<name>{$lang->banners_text_position_type_1}</name>
				<value>1</value>
			</options>
			<options>
				<name>{$lang->banners_text_position_type_2}</name>
				<value>2</value>
			</options>
		</settings>
		<settings>
			<variable>banners_text_wide</variable>
			<name>{$lang->wide}</name>
			<options>
				<name>{$lang->wide}</name>
				<value>1</value>
			</options>
		</settings>
		<settings>
			<variable>banners_text_title</variable>
			<name>{$lang->title}</name>
			<options>
				<name>{$lang->title}</name>
				<value>1</value>
			</options>
		</settings>
		<settings>
			<variable>banners_text_delimiter</variable>
			<name>{$lang->delimiter}</name>
			<options>
				<name>{$lang->delimiter}</name>
				<value>1</value>
			</options>
		</settings>
		<settings>
			<variable>banners_text_background</variable>
			<name>{$lang->background}</name>
			<options>
				<name>{$lang->background}</name>
				<value>1</value>
			</options>
		</settings>
		<settings>
			<variable>banners_text_padding_top</variable>
			<name>{$lang->padding_top}</name>
			<options>
				<name>0</name>
				<value>0</value>
			</options>
			<options>
				<name>40</name>
				<value>40</value>
			</options>
			<options>
				<name>80</name>
				<value>80</value>
			</options>
			<options>
				<name>130</name>
				<value>130</value>
			</options>
		</settings>
		<settings>
			<variable>banners_text_padding_bottom</variable>
			<name>{$lang->padding_bottom}</name>
			<options>
				<name>0</name>
				<value>0</value>
			</options>
			<options>
				<name>40</name>
				<value>40</value>
			</options>
			<options>
				<name>80</name>
				<value>80</value>
			</options>
			<options>
				<name>130</name>
				<value>130</value>
			</options>
		</settings>
		<settings>
			<variable>banners_text_id</variable>
			<name>{$lang->grup_id}</name>
		</settings>
	</group>
	<group>
		<name>{$lang->teasers}</name>
		<settings>
			<variable>teasers_type</variable>
			<name>{$lang->teasers_type}</name>
			<options>
				<name>{$lang->teasers_type_1}</name>
				<value>1</value>
			</options>
			<options>
				<name>{$lang->teasers_type_2}</name>
				<value>2</value>
			</options>
		</settings>
		<settings>
			<variable>teasers_grid_type</variable>
			<name>{$lang->grid_column}</name>
			<options>
				<name>3</name>
				<value>3</value>
			</options>
			<options>
				<name>4</name>
				<value>4</value>
			</options>
		</settings>
		<settings>
			<variable>teasers_banners_id</variable>
			<name>{$lang->grup_id}</name>
		</settings>
		<settings>
			<variable>teasers_position</variable>
			<name>{$lang->teasers_position}</name>
			<options>
				<name>{$lang->position_type_1}</name>
				<value>1</value>
			</options>
			<options>
				<name>{$lang->position_type_2}</name>
				<value>2</value>
			</options>
		</settings>
		<settings>
			<variable>teasers_wide</variable>
			<name>{$lang->wide}</name>
			<options>
				<name>{$lang->wide}</name>
				<value>1</value>
			</options>
		</settings>
		<settings>
			<variable>teasers_indented</variable>
			<name>{$lang->indented}</name>
			<options>
				<name>{$lang->indented}</name>
				<value>1</value>
			</options>
		</settings>
		<settings>
			<variable>teasers_delimiter</variable>
			<name>{$lang->delimiter}</name>
			<options>
				<name>{$lang->delimiter}</name>
				<value>1</value>
			</options>
		</settings>
		<settings>
			<variable>teasers_background</variable> 
			<name>{$lang->background}</name>
			<options>
				<name>{$lang->background}</name>
				<value>1</value>
			</options>
		</settings>
		<settings>
			<variable>teasers_padding_top</variable>
			<name>{$lang->padding_top}</name>
			<options>
				<name>0</name>
				<value>0</value>
			</options>
			<options>
				<name>40</name>
				<value>40</value>
			</options>
			<options>
				<name>80</name>
				<value>80</value>
			</options>
			<options>
				<name>130</name>
				<value>130</value>
			</options>
		</settings>
		<settings>
			<variable>teasers_padding_bottom</variable>
			<name>{$lang->padding_bottom}</name>
			<options>
				<name>0</name>
				<value>0</value>
			</options>
			<options>
				<name>40</name>
				<value>40</value>
			</options>
			<options>
				<name>80</name>
				<value>80</value>
			</options>
			<options>
				<name>130</name>
				<value>130</value>
			</options>
		</settings>
	</group>
	<group>
		<name>{$lang->bottom_banners}</name>
		<settings>
			<variable>bottom_banners_wide</variable>
			<name>{$lang->wide}</name>
			<options>
				<name>{$lang->wide}</name>
				<value>1</value>
			</options>
		</settings>
		<settings>
			<variable>bottom_banners_indented</variable>
			<name>{$lang->indented}</name>
			<options>
				<name>{$lang->indented}</name>
				<value>1</value>
			</options>
		</settings>
		<settings>
			<variable>bottom_banners_delimiter</variable>
			<name>{$lang->delimiter}</name>
			<options>
				<name>{$lang->delimiter}</name>
				<value>1</value>
			</options>
		</settings>
		<settings>
			<variable>bottom_banners_background</variable> 
			<name>{$lang->background}</name>
			<options>
				<name>{$lang->background}</name>
				<value>1</value>
			</options>
		</settings>
		<settings>
			<variable>bottom_banners_padding_top</variable>
			<name>{$lang->padding_top}</name>
			<options>
				<name>0</name>
				<value>0</value>
			</options>
			<options>
				<name>40</name>
				<value>40</value>
			</options>
			<options>
				<name>80</name>
				<value>80</value>
			</options>
			<options>
				<name>130</name>
				<value>130</value>
			</options>
		</settings>
		<settings>
			<variable>bottom_banners_padding_bottom</variable>
			<name>{$lang->padding_bottom}</name>
			<options>
				<name>0</name>
				<value>0</value>
			</options>
			<options>
				<name>40</name>
				<value>40</value>
			</options>
			<options>
				<name>80</name>
				<value>80</value>
			</options>
			<options>
				<name>130</name>
				<value>130</value>
			</options>
		</settings>
		<settings>
			<variable>bottom_banners_id</variable>
			<name>{$lang->grup_id}</name>
		</settings>
	</group>
	<group>
		<name>{$lang->custom_products}</name>
		<settings>
			<variable>custom_products_grid_column</variable>
			<name>{$lang->grid_column}</name>
			<options>
				<name>4</name>
				<value>4</value>
			</options>
			<options>
				<name>5</name>
				<value>5</value>
			</options>
		</settings>
		<settings>
			<variable>custom_products_category_id</variable>
			<name>{$lang->category_id}</name>
		</settings>
		<settings>
			<variable>custom_products_products_limit</variable>
			<name>{$lang->products_limit}</name>
		</settings>
		<settings>
			<variable>custom_products_sort</variable>
			<name>{$lang->sort}</name>
			<options>
				<name>{$lang->position}</name>
				<value>position</value>
			</options>
			<options>
				<name>{$lang->name}</name>
				<value>name</value>
			</options>
			<options>
				<name>{$lang->created}</name>
				<value>created</value>
			</options>
			<options>
				<name>{$lang->random}</name>
				<value>random</value>
			</options>
		</settings>
		<settings>
			<variable>custom_products_title</variable>
			<name>{$lang->title}</name>
			<options>
				<name>{$lang->title}</name>
				<value>1</value>
			</options>
		</settings>
		<settings>
			<variable>custom_products_delimiter</variable>
			<name>{$lang->delimiter}</name>
			<options>
				<name>{$lang->delimiter}</name>
				<value>1</value>
			</options>
		</settings>
		<settings>
			<variable>custom_products_background</variable>
			<name>{$lang->background}</name>
			<options>
				<name>{$lang->background}</name>
				<value>1</value>
			</options>
		</settings>
		<settings>
			<variable>custom_products_bordered</variable>
			<name>{$lang->bordered}</name>
			<options>
				<name>{$lang->bordered}</name>
				<value>1</value>
			</options>
		</settings>
		<settings>
			<variable>custom_products_padding_top</variable>
			<name>{$lang->padding_top}</name>
			<options>
				<name>0</name>
				<value>0</value>
			</options>
			<options>
				<name>40</name>
				<value>40</value>
			</options>
			<options>
				<name>80</name>
				<value>80</value>
			</options>
			<options>
				<name>130</name>
				<value>130</value>
			</options>
		</settings>
		<settings>
			<variable>custom_products_padding_bottom</variable>
			<name>{$lang->padding_bottom}</name>
			<options>
				<name>0</name>
				<value>0</value>
			</options>
			<options>
				<name>40</name>
				<value>40</value>
			</options>
			<options>
				<name>80</name>
				<value>80</value>
			</options>
			<options>
				<name>130</name>
				<value>130</value>
			</options>
		</settings>
	</group>
	<group>
		<name>{$lang->company_text}</name>
		<settings>
			<variable>company_text_button</variable>
			<name>{$lang->button}</name>
			<options>
				<name>{$lang->button}</name>
				<value>1</value>
			</options>
		</settings>
		<settings>
			<variable>company_text_url</variable>
			<name>{$lang->url}</name>
		</settings>
		<settings>
			<variable>company_text_bordered</variable>
			<name>{$lang->bordered}</name>
			<options>
				<name>{$lang->bordered}</name>
				<value>1</value>
			</options>
		</settings>
		<settings>
			<variable>company_text_image</variable>
			<name>{$lang->image}</name>
			<options>
				<name>{$lang->image}</name>
				<value>1</value>
			</options>
		</settings>
		<settings>
			<variable>company_text_delimiter</variable>
			<name>{$lang->delimiter}</name>
			<options>
				<name>{$lang->delimiter}</name>
				<value>1</value>
			</options>
		</settings>
		<settings>
			<variable>company_text_background</variable> 
			<name>{$lang->background}</name>
			<options>
				<name>{$lang->background}</name>
				<value>1</value>
			</options>
		</settings>
		<settings>
			<variable>company_text_padding_top</variable>
			<name>{$lang->padding_top}</name>
			<options>
				<name>0</name>
				<value>0</value>
			</options>
			<options>
				<name>40</name>
				<value>40</value>
			</options>
			<options>
				<name>80</name>
				<value>80</value>
			</options>
			<options>
				<name>130</name>
				<value>130</value>
			</options>
		</settings>
		<settings>
			<variable>company_text_padding_bottom</variable>
			<name>{$lang->padding_bottom}</name>
			<options>
				<name>0</name>
				<value>0</value>
			</options>
			<options>
				<name>40</name>
				<value>40</value>
			</options>
			<options>
				<name>80</name>
				<value>80</value>
			</options>
			<options>
				<name>130</name>
				<value>130</value>
			</options>
		</settings>
	</group>
	<group>
		<name>{$lang->blog_main}</name>
		<settings>
			<variable>blog_main_grid_type</variable>
			<name>{$lang->grid_column}</name>
			<options>
				<name>4</name>
				<value>4</value>
			</options>
			<options>
				<name>5</name>
				<value>5</value>
			</options>
		</settings>
		<settings>
			<variable>blog_main_sort</variable>
			<name>{$lang->sort}</name>
			<options>
				<name>{$lang->date}</name>
				<value>date</value>
			</options>
			<options>
				<name>{$lang->rate}</name>
				<value>rate</value>
			</options>
		</settings>
		<settings>
			<variable>blog_main_limit</variable>
			<name>{$lang->blog_main_limit}</name>
		</settings>
		<settings>
			<variable>blog_main_title</variable>
			<name>{$lang->title}</name>
			<options>
				<name>{$lang->title}</name>
				<value>1</value>
			</options>
		</settings>
		<settings>
			<variable>blog_main_delimiter</variable>
			<name>{$lang->delimiter}</name>
			<options>
				<name>{$lang->delimiter}</name>
				<value>1</value>
			</options>
		</settings>
		<settings>
			<variable>blog_main_background</variable>
			<name>{$lang->background}</name>
			<options>
				<name>{$lang->background}</name>
				<value>1</value>
			</options>
		</settings>
		<settings>
			<variable>blog_main_padding_top</variable>
			<name>{$lang->padding_top}</name>
			<options>
				<name>0</name>
				<value>0</value>
			</options>
			<options>
				<name>40</name>
				<value>40</value>
			</options>
			<options>
				<name>80</name>
				<value>80</value>
			</options>
			<options>
				<name>130</name>
				<value>130</value>
			</options>
		</settings>
		<settings>
			<variable>blog_main_padding_bottom</variable>
			<name>{$lang->padding_bottom}</name>
			<options>
				<name>0</name>
				<value>0</value>
			</options>
			<options>
				<name>40</name>
				<value>40</value>
			</options>
			<options>
				<name>80</name>
				<value>80</value>
			</options>
			<options>
				<name>130</name>
				<value>130</value>
			</options>
		</settings>
	</group>
	<group>
		<name>{$lang->articles_main}</name>
		<settings>
			<variable>articles_main_grid_type</variable>
			<name>{$lang->grid_column}</name>
			<options>
				<name>4</name>
				<value>4</value>
			</options>
			<options>
				<name>5</name>
				<value>5</value>
			</options>
		</settings>
		<settings>
			<variable>articles_main_sort</variable>
			<name>{$lang->sort}</name>
			<options>
				<name>{$lang->position}</name>
				<value>position</value>
			</options>
			<options>
				<name>{$lang->name}</name>
				<value>name</value>
			</options>
			<options>
				<name>{$lang->date}</name>
				<value>date</value>
			</options>
			<options>
				<name>{$lang->rate}</name>
				<value>rate</value>
			</options>
		</settings>
		<settings>
			<variable>articles_main_limit</variable>
			<name>{$lang->articles_main_limit}</name>
		</settings>
		<settings>
			<variable>articles_main_title</variable>
			<name>{$lang->title}</name>
			<options>
				<name>{$lang->title}</name>
				<value>1</value>
			</options>
		</settings>
		<settings>
			<variable>articles_main_delimiter</variable>
			<name>{$lang->delimiter}</name>
			<options>
				<name>{$lang->delimiter}</name>
				<value>1</value>
			</options>
		</settings>
		<settings>
			<variable>articles_main_background</variable>
			<name>{$lang->background}</name>
			<options>
				<name>{$lang->background}</name>
				<value>1</value>
			</options>
		</settings>
		<settings>
			<variable>articles_main_padding_top</variable>
			<name>{$lang->padding_top}</name>
			<options>
				<name>0</name>
				<value>0</value>
			</options>
			<options>
				<name>40</name>
				<value>40</value>
			</options>
			<options>
				<name>80</name>
				<value>80</value>
			</options>
			<options>
				<name>130</name>
				<value>130</value>
			</options>
		</settings>
		<settings>
			<variable>articles_main_padding_bottom</variable>
			<name>{$lang->padding_bottom}</name>
			<options>
				<name>0</name>
				<value>0</value>
			</options>
			<options>
				<name>40</name>
				<value>40</value>
			</options>
			<options>
				<name>80</name>
				<value>80</value>
			</options>
			<options>
				<name>130</name>
				<value>130</value>
			</options>
		</settings>
	</group>
	<group>
		<name>{$lang->footer}</name>
		<settings>
			<variable>footer_type</variable>
			<name>{$lang->footer_type}</name>
			<options>
				<name>{$lang->footer_type_1}</name>
				<value>1</value>
			</options>
			<options>
				<name>{$lang->footer_type_2}</name>
				<value>2</value>
			</options>
		</settings>
		<settings>
			<variable>footer_color</variable>
			<name>{$lang->footer_color}</name>
			<options>
				<name>{$lang->dark}</name>
				<value>1</value>
			</options>
			<options>
				<name>{$lang->light}</name>
				<value>2</value>
			</options>
		</settings>
		<settings>
			<variable>id_menu_footer_1</variable>
			<name>{$lang->id_menu_footer_1}</name>
		</settings>
		<settings>
			<variable>id_menu_footer_2</variable>
			<name>{$lang->id_menu_footer_2}</name>
		</settings>
		<settings>
			<variable>id_menu_footer_3</variable>
			<name>{$lang->id_menu_footer_3}</name>
		</settings>
		<settings>
			<variable>id_menu_footer_4</variable>
			<name>{$lang->id_menu_footer_4}</name>
		</settings>
	</group>
	<group>
		<name>{$lang->catalog}</name>
		<settings>
			<variable>catalog_grid_column</variable>
			<name>{$lang->grid_column}</name>
			<options>
				<name>4</name>
				<value>4</value>
			</options>
			<options>
				<name>5</name>
				<value>5</value>
			</options>
			<options>
				<name>6</name>
				<value>6</value>
			</options>
			<options>
				<name>8</name>
				<value>8</value>
			</options>
		</settings>
		<settings>
			<variable>catalog_images_type</variable>
			<name>{$lang->images_type}</name>
			<options>
				<name>{$lang->images_type_1}</name>
				<value>1</value>
			</options>
			<options>
				<name>{$lang->images_type_2}</name>
				<value>2</value>
			</options>
		</settings>
		<settings>
			<variable>catalog_bordered</variable>
			<name>{$lang->bordered}</name>
			<options>
				<name>{$lang->bordered}</name>
				<value>1</value>
			</options>
		</settings>
	</group>
	<group>
		<name>{$lang->catalog_category}</name>
		<settings>
			<variable>catalog_category_type</variable>
			<name>{$lang->catalog_sections_type}</name>
			<options>
				<name>{$lang->сompact_type}</name>
				<value>1</value>
			</options>
			<options>
				<name>{$lang->grid_type}</name>
				<value>2</value>
			</options>
		</settings>
		<settings>
			<variable>catalog_category_grid_column</variable>
			<name>{$lang->grid_column}</name>
			<options>
				<name>4</name>
				<value>4</value>
			</options>
			<options>
				<name>5</name>
				<value>5</value>
			</options>
			<options>
				<name>6</name>
				<value>6</value>
			</options>
			<options>
				<name>8</name>
				<value>8</value>
			</options>
		</settings>
		<settings>
			<variable>catalog_category_images_type</variable>
			<name>{$lang->images_type}</name>
			<options>
				<name>{$lang->images_type_1}</name>
				<value>1</value>
			</options>
			<options>
				<name>{$lang->images_type_2}</name>
				<value>2</value>
			</options>
		</settings>
		<settings>
			<variable>catalog_category_bordered</variable> 
			<name>{$lang->bordered}</name>
			<options>
				<name>{$lang->bordered}</name>
				<value>1</value>
			</options>
		</settings>
	</group>
	<group>
		<name>{$lang->products}</name>
		<settings>
			<variable>products_grid_bordered</variable>
			<name>{$lang->products_grid_bordered}</name>
			<options>
				<name>{$lang->products_grid_bordered}</name>
				<value>1</value>
			</options>
		</settings>
		<settings>
			<variable>products_grid_img_corner</variable>
			<name>{$lang->products_grid_img_corner}</name>
			<options>
				<name>{$lang->products_grid_img_corner}</name>
				<value>1</value>
			</options>
		</settings>
		<settings>
			<variable>products_img_gallery</variable>
			<name>{$lang->products_img_gallery}</name>
			<options>
				<name>{$lang->products_img_gallery}</name>
				<value>1</value>
			</options>
		</settings>
		<settings>
			<variable>products_img_gallery_limit</variable>
			<name>{$lang->products_img_gallery_limit}</name>
			<options>
				<name>1</name>
				<value>1</value>
			</options>
			<options>
				<name>2</name>
				<value>2</value>
			</options>
			<options>
				<name>3</name>
				<value>3</value>
			</options>
			<options>
				<name>4</name>
				<value>4</value>
			</options>
			<options>
				<name>5</name>
				<value>5</value>
			</options>
		</settings>
		<settings>
			<variable>view_recommended_products</variable>
			<name>{$lang->view_recommended_products}</name>
			<options>
				<name>{$lang->carousel_type}</name>
				<value>1</value>
			</options>
			<options>
				<name>{$lang->grid_type}</name>
				<value>2</value>
			</options>
		</settings>
		<settings>
			<variable>recommended_products_grid_type</variable>
			<name>{$lang->grid_column}</name>
			<options>
				<name>4</name>
				<value>4</value>
			</options>
			<options>
				<name>5</name>
				<value>5</value>
			</options>
		</settings>
		<settings>
			<variable>watermark</variable>
			<name>{$lang->watermark}</name>
			<options>
				<name>{$lang->watermark}</name>
				<value>1</value>
			</options>
		</settings>
	</group>
	<group>
		<name>{$lang->brands}</name>
		<settings>
			<variable>brands_type</variable>
			<name>{$lang->brands_type}</name>
			<options>
				<name>{$lang->brands_type_1}</name>
				<value>1</value>
			</options>
			<options>
				<name>{$lang->brands_type_2}</name>
				<value>2</value>
			</options>
		</settings>
		<settings>
			<variable>brands_grid_column</variable>
			<name>{$lang->grid_column}</name>
			<options>
				<name>4</name>
				<value>4</value>
			</options>
			<options>
				<name>5</name>
				<value>5</value>
			</options>
			<options>
				<name>6</name>
				<value>6</value>
			</options>
		</settings>
	</group>
	<group>
		<name>{$lang->blog_articles}</name>
		<settings>
			<variable>blog_grid_type</variable>
			<name>{$lang->blog_grid_column}</name>
			<options>
				<name>3</name>
				<value>3</value>
			</options>
			<options>
				<name>4</name>
				<value>4</value>
			</options>
		</settings>
		<settings>
			<variable>articles_grid_type</variable>
			<name>{$lang->articles_grid_column}</name>
			<options>
				<name>3</name>
				<value>3</value>
			</options>
			<options>
				<name>4</name>
				<value>4</value>
			</options>
		</settings>
	</group>
	<group>
		<name>{$lang->personal_account}</name>
		<settings>
			<variable>id_banner_account</variable>
			<name>{$lang->id_banner_account}</name>
		</settings>
	</group>
	<group>
		<name>{$lang->sitemap}</name>
		<settings>
			<variable>id_menu_sitemap_1</variable>
			<name>{$lang->id_menu_sitemap_1}</name>
		</settings>
		<settings>
			<variable>id_menu_sitemap_2</variable>
			<name>{$lang->id_menu_sitemap_2}</name>
		</settings>
		<settings>
			<variable>id_menu_sitemap_3</variable>
			<name>{$lang->id_menu_sitemap_3}</name>
		</settings>
		<settings>
			<variable>id_menu_sitemap_4</variable>
			<name>{$lang->id_menu_sitemap_4}</name>
		</settings>
	</group>
</module>